<ul class="filter-categories overflow-x-auto lg:overflow-y-hidden">
    <li class="active">
        <a href="#">
            Все
        </a>
    </li>
    <li>
        <a href="#">
            Новости
        </a>
    </li>
    <li>
        <a href="#">
            События
        </a>
    </li>
    <li>
        <a href="#">
            Советы экспертов
        </a>
    </li>
    <li>
        <a href="#">
            Акции
        </a>
    </li>
    <li>
        <a href="#">
            СМИ о нас
        </a>
    </li>
</ul>