<aside class="w-full lg:w-3/12 px-4 lg:mt-16">
    <ul class="company-menu flex flex-row flex-wrap lg:flex-col text-base lg:text-lg text-second font-semibold -mx-4 lg:mr-0">
        <li class="active py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                О проекте
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Реклама на сайте
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Вакансии
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Контакты
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Написать нам
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Готовый отдел продаж
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Отзывы о проекте
            </a>
        </li>
    </ul>
</aside>