<aside class="w-full lg:w-3/12 px-4">
    <ul class="company-menu flex flex-row flex-wrap lg:flex-col text-base lg:text-lg text-second font-semibold -mx-4 lg:mr-0 lg:mt-16">
        <li class="active py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Покупка и продажа недвижимости
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Подбор недвижимости
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Открытие ипотеки
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Проверка на юридическую чистоту
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Юридическое сопровождение
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Ремонтные и отделочные работы
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3">
            <a href="#" class="hover:opacity-75">
                Индивидуальный подбор
            </a>
        </li>
    </ul>
</aside>