<aside class="w-full lg:w-3/12 px-4">
    <ul class="company-menu flex flex-row flex-wrap lg:flex-col text-base lg:text-lg text-second font-semibold -mx-4 lg:mr-0 lg:mt-16">
        <li class="active py-2 px-4 lg:py-3 hover:opacity-75">
            <a href="#">
                О проекте
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3 hover:opacity-75">
            <a href="#">
                Реклама на сайте
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3 hover:opacity-75">
            <a href="#">
                Вакансии
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3 hover:opacity-75">
            <a href="#">
                Контакты
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3 hover:opacity-75">
            <a href="#">
                Написать нам
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3 hover:opacity-75">
            <a href="#">
                Готовый отдел продаж
            </a>
        </li>
        <li class="py-2 px-4 lg:py-3 hover:opacity-75">
            <a href="#">
                Отзывы о проекте
            </a>
        </li>
    </ul>
</aside>