<div class="bg-inputs py-4">
    <div class="container px-4">
        <ul class="breadcrumb whitespace-no-wrap flex text-dark text-sm overflow-hidden">
            <li>
                <a href="#">
                    Главная
                </a>
            </li>
            <li>
                <a href="#">
                    Новости
                </a>
            </li>
            <li class="active">
                <a href="#">
                    Летние акции от ГК «Дарстрой» уже действуют: скидка 2 000 ₽ с каждого квадратного метра!
                </a>
            </li>
        </ul>
    </div>
</div>