<div class="building building_3-col flex w-full px-2 lg:px-4 mt-6">
    <div class="building__inner flex flex-col rounded-lg overflow-hidden h-full w-full border border-border bg-white">
        <div class="relative">
            <div class="building-carousel">
                <img data-lazy="img/buildings/1.jpg" alt="Название" title="Назавание" class="w-full">
                <img data-lazy="img/buildings/2.jpg" alt="Название" title="Назавание" class="w-full">
                <img data-lazy="img/buildings/3.jpg" alt="Название" title="Назавание" class="w-full">
            </div>
            <div class="building__best-seller-icon absolute z-20 w-8 h-8">
                <img src="img/elements/leader.svg" class="tooltip" alt="Лидер продаж" title="Лидер продаж">
            </div>
            <div class="building__favorite-icon bg-white rounded flex items-center justify-center w-6 h-6 absolute z-20">
                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00035 1.01932C8.56635 -0.38668 10.9863 -0.340013 12.495 1.17132C14.003 2.68332 14.055 5.09132 12.6523 6.66199L6.99901 12.3233L1.34701 6.66199C-0.0556549 5.09132 -0.00298804 2.67932 1.50435 1.17132C3.01435 -0.338013 5.42968 -0.38868 7.00035 1.01932Z" fill="currentColor"/>
                </svg>
            </div>
            <div class="building__achievements absolute flex flex-col items-start font-bold text-white text-xs">
                <div class="rounded inline-flex justify-center items-center bg-primary h-6 px-2 mt-1">
                    ТОП ЖК
                </div>
                <div class="rounded inline-flex justify-center items-center bg-green h-6 px-2 mt-1">
                    ТОП новостроек
                </div>
                <div class="rounded inline-flex justify-center items-center bg-orange h-6 px-2 mt-1">
                    Надёжный застройщик
                </div>
            </div>
        </div>
        <div class="flex flex-col p-4">
            <div class="flex -mx-1">
                <div class="px-1">
                    <div class="mortgage-info text-green bg-green-007 text-xs font-semibold flex items-center justify-center h-6">
                        Ипотека от 5,5%
                    </div>
                </div>
                <div class="px-1 tooltip" title="информация">
                    <div class="rounded-full flex flex-shrink-0 text-orange bg-orange-007 items-center justify-center w-6 h-6">
                        <img src="img/elements/percent.svg">
                    </div>
                </div>
                <div class="px-1 tooltip" title="информация">
                    <div class="rounded-full flex flex-shrink-0 text-purple bg-purple-007 items-center justify-center w-6 h-6">
                        <img src="img/elements/box.svg">
                    </div>
                </div>
                <div class="px-1 ml-auto">
                    <div class="flex items-center">
                        <div class="flex mr-1">
                            <img src="img/elements/star.svg">
                        </div>
                        <div class="flex font-medium text-dark text-sm">
                            4.5
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-between items-center mt-3">
                <a href="#" class="tooltip flex items-center hover:opacity-50" title="Надёжный застройщик">
                    <span class="mr-1">
                        <img src="img/elements/dev-check.svg">
                    </span>
                    <span class="text-main text-sm whitespace-no-wrap">
                        <span class="building__developer-name block truncate leading-none">
                            СпецСтройКубань и компания
                        </span>
                    </span>
                </a>
                <div class="flex">
                    <div class="font-medium text-13px text-primary leading-none tracking-tighter whitespace-no-wrap tooltip" title="информация о сроках">
                        2020-2021 гг.
                    </div>
                </div>
            </div>
            <a href="#" class="text-xl text-main font-semibold leading-none truncate w-full hover:opacity-50 mt-2" title="Фонтаны и длинное название">
                Фонтаны и длинное название
            </a>
            <div class="text-sm text-second leading-none w-full truncate mt-2">
                Старокубанская, 2/23 или очень длинное название
            </div>
            <div class="building__rooms border-t border-b border-border mt-3">
                <div class="building__rooms-caption flex lg:hidden justify-between items-center py-3">
                    <div class="text-sm text-main w-10/12 truncate">
                        363 Квартиры от 2,1 млн ₽ ывывыывыв
                    </div>
                    <div class="building__rooms-chevron">
                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.50027 6L0 1.49973L1.5008 0L4.50027 3.00053L7.49974 0L9.00053 1.49973L4.50027 6Z" fill="#1E1F21"/>
                        </svg>
                    </div>
                </div>
                <div class="building__rooms-content hidden flex flex-col leading-relaxed pt-2 pb-3">
                    <a href="#" class="flex hover:opacity-50">
                        <div class="w-7/12 text-sm text-light truncate">
                            Студия от 22 м²
                        </div>
                        <div class="w-5/12 text-sm text-main text-right truncate">
                            от 2,1 млн ₽
                        </div>
                    </a>
                    <a href="#" class="flex hover:opacity-50">
                        <div class="w-7/12 text-sm text-light truncate">
                            1-комн от 32 м²
                        </div>
                        <div class="w-5/12 text-sm text-main text-right truncate">
                            от 2,8 млн ₽
                        </div>
                    </a>
                    <a href="#" class="flex hover:opacity-50">
                        <div class="w-7/12 text-sm text-light truncate">
                            2-комн от 50 м²
                        </div>
                        <div class="w-5/12 text-sm text-main text-right truncate">
                            от 4,1 млн ₽
                        </div>
                    </a>
                    <a href="#" class="flex hover:opacity-50">
                        <div class="w-7/12 text-sm text-light truncate">
                            3-комн от 71 м²
                        </div>
                        <div class="w-5/12 text-sm text-main text-right truncate">
                            от 5,6 млн ₽
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex items-center mt-4">
                <a href="#" class="w-1/2 block font-medium text-primary text-sm truncate hover:opacity-50">
                    389 квартир
                </a>
                <div class="building-status w-1/2 font-medium text-main text-sm truncate text-right">
                    Комфорт класс
                </div>
            </div>
        </div>
    </div>
</div>