<div class="carousel-wrap relative">
    <div class="carousel-full">
        <div class="carousel-full__slide">
            <a href="img/carousel/1full.jpg" class="carousel-wrap__photo w-full h-full block bg-no-repeat bg-center bg-cover outline-none hover-effect" style="background-image:url(img/carousel/1full.jpg);"></a>
        </div>
        <div class="carousel-full__plates bg-no-repeat bg-center bg-cover">
            <div class="carousel-full__plates-inner flex flex-wrap w-full h-full">
                <div class="carousel-full__plate w-1/2">
                    <a href="img/carousel/1.jpg" class="carousel-wrap__photo block w-full h-full bg-no-repeat bg-center bg-cover outline-none hover-effect" style="background-image:url(img/carousel/1.jpg);"></a>
                </div>
                <div class="carousel-full__plate w-1/2">
                    <a href="img/carousel/2.jpg" class="carousel-wrap__photo block w-full h-full bg-no-repeat bg-center bg-cover outline-none hover-effect" style="background-image:url(img/carousel/1.jpg);"></a>
                </div>
                <div class="carousel-full__plate w-1/2">
                    <a href="img/carousel/1.jpg" class="carousel-wrap__photo block w-full h-full bg-no-repeat bg-center bg-cover outline-none hover-effect" style="background-image:url(img/carousel/2.jpg);"></a>
                </div>
                <div class="carousel-full__plate w-1/2">
                    <a href="img/carousel/2.jpg" class="carousel-wrap__photo block w-full h-full bg-no-repeat bg-center bg-cover outline-none hover-effect" style="background-image:url(img/carousel/2.jpg);"></a>
                </div>
            </div>
        </div>
        <div class="carousel-full__plates">
            <div class="carousel-full__plates-inner flex flex-wrap w-full h-full">
                <div class="carousel-full__plate relative w-full z-20">
                    <div class="flex h-full flex-col">
                        <div class="flex items-center justify-center bg-green flex-grow hover-effect call hover-effect cursor-pointer">
                            <div class="flex items-center">
                                <div class="flex flex-shrink-0 w-8 h-8 lg:w-16 lg:h-16 rounded-full bg-white items-center justify-center mr-2 lg:mr-4">
                                    <svg width="12" height="12" class="h-4 w-4 lg:w-6 lg:h-6" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 8.94667V11.304C12.0001 11.4728 11.9361 11.6353 11.8211 11.7588C11.706 11.8823 11.5484 11.9575 11.38 11.9693C11.0887 11.9893 10.8507 12 10.6667 12C4.77533 12 0 7.22467 0 1.33333C0 1.14933 0.01 0.911334 0.0306667 0.62C0.0424816 0.451629 0.117721 0.294007 0.241202 0.178939C0.364684 0.0638712 0.527215 -7.62887e-05 0.696 1.71053e-07H3.05333C3.13603 -8.35563e-05 3.2158 0.0305727 3.27715 0.0860136C3.33851 0.141455 3.37706 0.217722 3.38533 0.3C3.40067 0.453334 3.41467 0.575333 3.428 0.668C3.56049 1.59262 3.832 2.49189 4.23333 3.33533C4.29667 3.46867 4.25533 3.628 4.13533 3.71333L2.69667 4.74133C3.5763 6.79097 5.2097 8.42436 7.25933 9.304L8.286 7.868C8.32796 7.80933 8.38919 7.76725 8.459 7.7491C8.52881 7.73095 8.60277 7.73787 8.668 7.76867C9.51135 8.16924 10.4104 8.44008 11.3347 8.572C11.4273 8.58533 11.5493 8.6 11.7013 8.61467C11.7835 8.62309 11.8596 8.66171 11.9149 8.72305C11.9702 8.78439 12.0008 8.86408 12.0007 8.94667H12Z"
                                              fill="#18BE6E"/>
                                    </svg>
                                </div>
                                <div class="text-white sm:text-3xl lg:text-4xl font-bold">
                                    Перезвоните мне
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-center bg-primary flex-grow hover-effect call-write hover-effect cursor-pointer">
                            <div class="flex items-center">
                                <div class="flex flex-shrink-0 w-8 h-8 lg:w-16 lg:h-16 rounded-full bg-white items-center justify-center mr-2 lg:mr-4">
                                    <svg width="14" height="13" class="h-4 w-4 lg:w-6 lg:h-6" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.66732 0H8.33398C9.74847 0 11.105 0.561903 12.1052 1.5621C13.1054 2.56229 13.6673 3.91885 13.6673 5.33333C13.6673 6.74782 13.1054 8.10438 12.1052 9.10457C11.105 10.1048 9.74847 10.6667 8.33398 10.6667V13C5.00065 11.6667 0.333984 9.66667 0.333984 5.33333C0.333984 3.91885 0.895888 2.56229 1.89608 1.5621C2.89628 0.561903 4.25283 0 5.66732 0Z"
                                              fill="#1C7CD6"/>
                                    </svg>
                                </div>
                                <div class="text-white sm:text-3xl lg:text-4xl font-bold">
                                    Написать нам
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-wrap__more-photo absolute h-10 bg-white rounded hover:opacity-50">
        <a href="img/buildings/1.jpg" class="carousel-wrap__photo flex items-center justify-center h-full w-full px-4">
            Все фото
        </a>
        <a href="img/buildings/2.jpg" class="carousel-wrap__photo hidden"></a>
        <a href="img/buildings/3.jpg" class="carousel-wrap__photo hidden"></a>
    </div>
    <div class="carousel-wrap__achievements absolute text-white font-medium text-xs flex flex-wrap -mx-1">
        <div class="inline-flex justify-center items-center h-6 px-1 mt-1">
            <div class="bg-primary rounded px-2">ТОП ЖК</div>
        </div>
        <div class="inline-flex justify-center items-center h-6 px-1 mt-1">
            <div class="bg-green p rounded px-2">ТОП новостроек</div>
        </div>
        <div class="inline-flex justify-center items-center h-6 px-1 mt-1">
            <div class="bg-orange  rounded px-2">Надёжный застройщик</div>
        </div>
    </div>
</div>