<div class="carousel-wrap relative">
    <div class="carousel-full">
        <div class="carousel-full__slide">
            <a href="img/carousel/1full.jpg" class="carousel-wrap__photo w-full h-full block bg-no-repeat bg-center bg-cover outline-none hover-effect" style="background-image:url(img/carousel/1full.jpg);"></a>
        </div>
        <div class="carousel-full__plates bg-no-repeat bg-center bg-cover">
            <div class="carousel-full__plates-inner flex flex-wrap w-full h-full">
                <div class="carousel-full__plate w-1/2">
                    <a href="img/carousel/1.jpg" class="carousel-wrap__photo block w-full h-full bg-no-repeat bg-center bg-cover outline-none hover-effect" style="background-image:url(img/carousel/1.jpg);"></a>
                </div>
                <div class="carousel-full__plate w-1/2">
                    <a href="img/carousel/2.jpg" class="carousel-wrap__photo block w-full h-full bg-no-repeat bg-center bg-cover outline-none hover-effect" style="background-image:url(img/carousel/1.jpg);"></a>
                </div>
                <div class="carousel-full__plate w-1/2">
                    <a href="img/carousel/1.jpg" class="carousel-wrap__photo block w-full h-full bg-no-repeat bg-center bg-cover outline-none hover-effect" style="background-image:url(img/carousel/2.jpg);"></a>
                </div>
                <div class="carousel-full__plate w-1/2">
                    <a href="img/carousel/2.jpg" class="carousel-wrap__photo block w-full h-full bg-no-repeat bg-center bg-cover outline-none hover-effect" style="background-image:url(img/carousel/2.jpg);"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-wrap__more-photo absolute h-10 bg-white rounded hover:opacity-50">
        <a href="img/buildings/1.jpg" class="carousel-wrap__photo flex items-center justify-center h-full w-full px-4">
            Все фото
        </a>
        <a href="img/buildings/2.jpg" class="carousel-wrap__photo hidden"></a>
        <a href="img/buildings/3.jpg" class="carousel-wrap__photo hidden"></a>
    </div>
    <div class="carousel-wrap__achievements absolute text-white font-medium text-xs flex flex-wrap -mx-1">
        <div class="inline-flex justify-center items-center h-6 px-1 mt-1">
            <div class="bg-primary rounded px-2">ТОП ЖК</div>
        </div>
        <div class="inline-flex justify-center items-center h-6 px-1 mt-1">
            <div class="bg-green p rounded px-2">ТОП новостроек</div>
        </div>
        <div class="inline-flex justify-center items-center h-6 px-1 mt-1">
            <div class="bg-orange  rounded px-2">Надёжный застройщик</div>
        </div>
    </div>
</div>