<h2>
    Ход строительства КП Близкий
</h2>
<div class="form-group inline-flex mt-4">
    <div class="flex rounded overflow-hidden">
        <label class="room-size flex-grow">
            <input type="checkbox" name="type-studio" class="room-size__checkbox hidden" value="Все">
            <span class="room-size__custom flex items-center justify-center bg-inputs text-xs xs:text-sm text-dark h-12 flex-shrink-0 px-4">
                        2020
                    </span>
        </label>
        <label class="room-size flex flex-grow">
            <input type="checkbox" name="type-1" class="room-size__checkbox hidden" value="Вторича">
            <span class="room-size__custom flex flex-grow items-center justify-center bg-inputs text-xs xs:text-sm text-dark border-border border-l h-12 px-4">
                        2019
                    </span>
        </label>
        <label class="room-size flex flex-grow">
            <input type="checkbox" name="type-2" class="room-size__checkbox hidden" value="Новостройка">
            <span class="room-size__custom flex flex-grow items-center justify-center bg-inputs text-xs xs:text-sm text-dark h-12 border-border border-l px-4">
                        2018
                    </span>
        </label>
    </div>
</div>
<ul class="filter-categories overflow-x-auto lg:overflow-x-visible overflow-y-hidden -mx-2 lg:mx-0">
    <li class="active">
        <a href="">
            Январь
        </a>
    </li>
    <li>
        <a href="">
            Февраль
        </a>
    </li>
    <li>
        <a href="">
            Март
        </a>
    </li>
    <li>
        <a href="">
            Апрель
        </a>
    </li>
    <li>
        <a href="">
            Май
        </a>
    </li>
    <li>
        <a href="">
            Июнь
        </a>
    </li>
    <li>
        <a href="">
            Июль
        </a>
    </li>
</ul>
<div class="etaps flex flex-wrap -mx-2 mt-5">
    <a href="img/etaps/1.jpg" class="etaps__item block w-1/2 md:w-1/4 hover-effect px-2 mt-4">
                    <span class="etaps__item-inner block bg-no-repeat bg-center bg-cover" style="background-image:url(img/etaps/1.jpg);">
                    </span>
    </a>
    <a href="img/etaps/2.jpg" class="etaps__item block w-1/2 md:w-1/4 hover-effect px-2 mt-4">
                    <span class="etaps__item-inner block bg-no-repeat bg-center bg-cover" style="background-image:url(img/etaps/2.jpg);">
                    </span>
    </a>
    <a href="img/etaps/3.jpg" class="etaps__item block w-1/2 md:w-1/4 hover-effect px-2 mt-4">
                    <span class="etaps__item-inner block bg-no-repeat bg-center bg-cover" style="background-image:url(img/etaps/3.jpg);">
                    </span>
    </a>
    <div class="etaps__more block w-1/2 md:w-1/4 hover-effect cursor-pointer px-2 mt-4">
        <div class="flex etaps bg-light-bg h-full w-full border border-border rounded justify-center items-center">
            Еще 18 фото
        </div>
    </div>
</div>