<form class="w-full">
    <div class="form-group mt-5">
        <label for="type" class="text-sm text-light">
            Тип жилья
        </label>
        <div class="form-control w-full mt-1">
            <select name="type" class="w-full bg-inputs text-sm text-dark rounded placeholder-light px-4 h-12" id="type">
                <option value="Новостройки">Новостройки</option>
                <option value="Новостройки">Коттеджи</option>
                <option value="Новостройки">Объекты</option>
            </select>
        </div>
    </div>
    <div class="form-group flex flex-wrap w-full flex-col mt-5">
        <div class="flex w-full text-light text-sm leading-7">
            Тип жилья
        </div>
        <div class="flex">
            <label class="room-size flex-grow">
                <input type="checkbox" name="type-all" class="room-size__checkbox hidden" value="Все">
                <span class="room-size__custom flex items-center justify-center bg-inputs text-xs xs:text-sm text-dark rounded-l h-12 flex-shrink-0">
                    Все
                </span>
            </label>
            <label class="room-size flex flex-grow">
                <input type="checkbox" name="type-second" class="room-size__checkbox hidden" value="Вторича">
                <span class="room-size__custom flex flex-grow items-center justify-center bg-inputs text-xs xs:text-sm text-dark border-border border-l h-12">
                    Вторичка
                </span>
            </label>
            <label class="room-size flex flex-grow">
                <input type="checkbox" name="type-new" class="room-size__checkbox hidden" value="Новостройка">
                <span class="room-size__custom flex flex-grow items-center justify-center bg-inputs text-xs xs:text-sm text-dark h-12 border-border border-l">
                    Новостройка
                </span>
            </label>
            <label class="room-size flex flex-grow">
                <input type="checkbox" name="type-cottage" class="room-size__checkbox hidden" value="Коттедж">
                <span class="room-size__custom flex flex-grow items-center justify-center bg-inputs text-xs xs:text-sm text-dark border-border border-l rounded-r h-12">
                    Коттедж
                </span>
            </label>
        </div>
    </div>
    <div class="form-group flex flex-wrap w-full flex-col mt-5">
        <div class="flex w-full text-light text-sm leading-7">
            Комнаты
        </div>
        <div class="flex">
            <label class="room-size">
                <input type="checkbox" name="room-studio" class="room-size__checkbox hidden" value="Все">
                <span class="room-size__custom flex items-center justify-center bg-inputs text-sm text-dark rounded-l h-12 px-4 flex-shrink-0">
                                    Студия
                                </span>
            </label>
            <label class="room-size flex">
                <input type="checkbox" name="room-1" class="room-size__checkbox hidden" value="Вторича">
                <span class="room-size__custom flex flex-grow items-center justify-center bg-inputs text-sm text-dark border-border border-l px-4 h-12">
                                    1
                                </span>
            </label>
            <label class="room-size flex">
                <input type="checkbox" name="room-2" class="room-size__checkbox hidden" value="Новостройка">
                <span class="room-size__custom flex flex-grow items-center justify-center bg-inputs text-sm text-dark h-12 border-border border-l px-4">
                                    2
                                </span>
            </label>
            <label class="room-size flex">
                <input type="checkbox" name="room-3" class="room-size__checkbox hidden" value="Коттедж">
                <span class="room-size__custom flex flex-grow items-center justify-center bg-inputs text-sm text-dark border-border border-l px-4 rounded-r h-12">
                                    3+
                                </span>
            </label>
        </div>
    </div>
    <div class="form-group mt-5">
        <label for="email" class="text-sm text-light">
            Электронная почта
        </label>
        <div class="form-control w-full mt-1">
            <input type="text" class="w-full bg-inputs text-sm text-dark placeholder-light rounded px-4 h-12" id="email" placeholder="sample@gmail.com">
        </div>
    </div>
    <div class="form-group text-sm leading-none mt-5">
        <label class="flex items-center">
            <input name="i-agree" type="checkbox" class="hidden check-gray">
            <span class="check-gray__custom inline-flex relative w-5 h-5 flex-shrink-0 rounded border border-border mr-2"></span>
            <span class="block">
                <span class="text-light">Я согласен на обработку </span>
                <a href="#" target="_blank" class="hover:opacity-75">персональных данных</a>
            </span>
        </label>
    </div>
    <div class="form-group w-full mt-5">
        <button type="submit" class="bg-primary rounded hover:bg-border transition duration-300 text-white hover:text-dark select-none w-full sm:w-auto h-12 px-6">
            <span class="flex justify-center items-center w-full h-full font-bold text-sm">Подписаться</span>
        </button>
    </div>
</form>