<form class="w-full">
    <div class="form-group mt-5">
        <div class="text-light text-sm leading-7">
            Название ЖК или застройщика
        </div>
        <div class="form-control gray-select w-full">
            <select multiple="multiple" data-placeholder="Название ЖК или застройщика" name="building-name" class="customSearchMultiple" tabindex="-1">
                <optgroup label="Застройщики">
                    <option value="СтройИнвестКубань">СтройИнвестКубань</option>
                    <option value="ССК">ССК</option>
                    <option value="Девелопмент-Юг">Девелопмент-Юг</option>
                    <option value="Неометрия">Неометрия</option>
                </optgroup>
                <optgroup label="ЖК">
                    <option value="Южане">Южане</option>
                    <option value="Панорама">Панорама</option>
                    <option value="Версаль">Версаль</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="form-group mt-5">
        <div class="text-light text-sm leading-7">
            Тип недвижимости
        </div>
        <div class="form-control gray-select w-full">
            <select multiple="multiple" data-placeholder="Тип недвижимости" name="building-class" class="customMultiple" tabindex="-1">
                <option value="Новостройка">Квартира</option>
                <option value="Котедж">Котедж</option>
                <option value="Земельный участок">Земельный участок</option>
                <option value="Коммерческая">Коммерческая</option>
            </select>
        </div>
    </div>
    <div class="form-group mt-5">
        <div class="text-light text-sm leading-7">
            Интересуемые события
        </div>
        <div class="form-control gray-select w-full">
            <select multiple="multiple" data-placeholder="Интересуемые события" name="news-type" class="customMultiple" tabindex="-1">
                <option value="Новости">Новости</option>
                <option value="Акции застройщиков">Акции застройщиков</option>
            </select>
        </div>
    </div>
    <div class="form-group mt-5">
        <div class="text-light text-sm leading-7">
            Электронная почта
        </div>
        <div class="form-control w-full">
            <input type="text" class="w-full bg-inputs text-sm text-dark placeholder-light rounded px-4 h-12" placeholder="sample@gmail.com">
        </div>
    </div>
    <div class="form-group text-sm leading-none mt-5">
        <label class="flex items-center">
            <input name="i-agree" type="checkbox" class="hidden check-gray">
            <span class="check-gray__custom inline-flex relative w-5 h-5 flex-shrink-0 rounded border border-border mr-2"></span>
            <span class="block">
                <span class="text-light">Я согласен на обработку </span>
                <a href="#" target="_blank" class="hover:opacity-75">персональных данных</a>
            </span>
        </label>
    </div>
    <div class="form-group w-full mt-5">
        <button type="submit" class="bg-primary rounded hover:bg-border transition duration-300 text-white hover:text-dark select-none w-full sm:w-auto h-12 px-6">
            <span class="flex justify-center items-center w-full h-full font-bold text-sm">Подписаться</span>
        </button>
    </div>
</form>