<div class="building flex w-full px-2 lg:px-4 mt-6">
    <div class="building__inner flex flex-col rounded-lg overflow-hidden h-full w-full border border-border bg-white">
        <div class="relative">
            <div class="building-carousel">
                <img data-lazy="img/land/1.jpg" alt="Название" title="Назавание" class="w-full">
                <img data-lazy="img/land/2.jpg" alt="Название" title="Назавание" class="w-full">
                <img data-lazy="img/land/3.jpg" alt="Название" title="Назавание" class="w-full">
                <img data-lazy="img/land/4.jpg" alt="Название" title="Назавание" class="w-full">
                <img data-lazy="img/land/5.jpg" alt="Название" title="Назавание" class="w-full">
            </div>
            <div class="building__slide-fix lg:hidden absolute z-10 w-full h-full top-0 left-0"></div>
            <div class="building__best-seller-icon absolute z-20 w-8 h-8">
                <img src="img/elements/leader.svg" class="tooltip" alt="Лидер продаж" title="Лидер продаж">
            </div>
            <div class="building__favorite-icon bg-white rounded flex items-center justify-center w-6 h-6 absolute z-20">
                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00035 1.01932C8.56635 -0.38668 10.9863 -0.340013 12.495 1.17132C14.003 2.68332 14.055 5.09132 12.6523 6.66199L6.99901 12.3233L1.34701 6.66199C-0.0556549 5.09132 -0.00298804 2.67932 1.50435 1.17132C3.01435 -0.338013 5.42968 -0.38868 7.00035 1.01932Z" fill="currentColor"/>
                </svg>
            </div>
            <div class="building__achievements absolute flex flex-col items-start font-bold text-white text-xs">
                <div class="rounded inline-flex justify-center items-center bg-red h-6 px-2 mt-1">
                    Срочная продажа
                </div>
            </div>
        </div>
        <div class="flex flex-col items-start p-4">
            <div class="text-xl font-semibold leading-none">
                800 соток
            </div>
            <div class="font-semibold">
                участок
            </div>
            <div class="w-full truncate text-second mt-1">
                25 км от центра города
            </div>
            <div class="w-full text-second truncate">
                Анапский район, ул. Пушкина-Лермонтова, 33/2
            </div>
            <div class="w-full text-base truncate mt-1">
                5 млн ₽
            </div>
            <div class="w-full text-second truncate mt-2">
                Фасад 18 м2
            </div>
            <div class="w-full text-second mt-2">
                <ul class="list-disc pl-4">
                    <li>
                        Под строительство дома
                    </li>
                    <li>
                        Под коммерцию
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>