<div class="man-form mt-12">
    <div class="flex justify-between bg-light-bg -mx-4 sm:mx-0">
        <div class="man-form__left w-full px-4 py-12 md:pl-12 md:pr-12 xl:pr-0">
            <h2>
                Узнать больше
            </h2>
            <div class="text-xs sm:text-sm text-second leading-relaxed mt-2">
                Мы можем проконсультировать вас по всем вопросам. Оставьте свой телефон и мы перезвоним в течение 5 минут
            </div>
            <form class="flex items-end flex-wrap -mx-1 mt-4">
                <div class="form-group w-1/2 px-1">
                    <label for="man-form-tel" class="text-sm text-light">
                        Телефон
                    </label>
                    <div class="form-control w-full mt-1">
                        <input type="tel" name="tel" class="w-full bg-white text-sm text-dark placeholder-light rounded px-4 h-12" id="man-form-tel" placeholder="+7 (___) ___ - __ - __">
                    </div>
                </div>
                <div class="form-group flex items-end w-1/2 px-1">
                    <button type="submit" class="bg-primary rounded hover:bg-border transition duration-300 text-white hover:text-dark select-none w-full h-12 px-2">
                        <span class="flex justify-center items-center w-full h-full font-bold text-sm">Перезвоните мне</span>
                    </button>
                </div>
                <div class="form-group w-full text-sm mt-4">
                    <label class="flex items-center">
                        <input name="i-agree" type="checkbox" class="hidden check-gray">
                        <span class="check-gray__custom inline-flex relative w-5 h-5 flex-shrink-0 rounded border border-border mr-2"></span>
                        <span class="block">
                            <span class="text-light">Я согласен на обработку </span>
                            <a href="#" target="_blank" class="hover:opacity-50">персональных данных</a>
                        </span>
                    </label>
                </div>
            </form>
        </div>
        <div class="man-form__right hidden xl:block w-full relative">
            <img src="img/elements/form-man.png" class="absolute bottom-0 right-0" alt="новосторйки" title="новостройки">
        </div>
    </div>
</div>