<div class="bg-F2F4F7 overflow-x-auto lg:overflow-y-hidden -mx-4 sm:mx-0 px-3 xl:px-5 mt-5">
    <ul class="filter-categories">
        <li class="flex flex-shrink-0 items-center active">
            <a href="">
                Описание
            </a>
        </li>
        <li class="flex flex-shrink-0 items-center">
            <a href="">
                Расположение
            </a>
        </li>
        <li class="flex flex-shrink-0 items-center">
            <a href="" class="mr-1">
                Цены на квартиры
            </a>
            <span class="rounded-full flex flex-shrink-0 items-center justify-center w-6 h-6 bg-D6DCE0 text-xs font-semibold">
                12
            </span>
        </li>
        <li class="flex flex-shrink-0 items-center">
            <a href="">
                Стадии строительства
            </a>
        </li>
        <li class="flex flex-shrink-0 items-center">
            <a href="" class="mr-1">
                Отзывы
            </a>
            <span class="rounded-full flex flex-shrink-0 items-center justify-center w-6 h-6 bg-D6DCE0 text-xs font-semibold">
                12
            </span>
        </li>
        <li class="flex flex-shrink-0 items-center">
            <a href="">
                Ипотека
            </a>
        </li>
        <li class="flex flex-shrink-0 items-center">
            <a href="" class="mr-1">
                Видео
            </a>
            <span class="rounded-full flex flex-shrink-0 items-center justify-center w-6 h-6 bg-D6DCE0 text-xs font-semibold">
                8
            </span>
        </li>
    </ul>
</div>