<div style="display: none;">
    <div class="box-modal" id="modal-nav">
        <div class="box-modal_close arcticmodal-close text-right">
            <svg class="w-10 md:w-16 close-icon inline-block hover:opacity-75" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <path
                    d="M7.21875 5.78125L5.78125 7.21875L14.5625 16L5.78125 24.78125L7.21875 26.21875L16 17.4375L24.78125 26.21875L26.21875 24.78125L17.4375 16L26.21875 7.21875L24.78125 5.78125L16 14.5625Z"
                    fill="#5B5B5B" />
            </svg>
        </div>
        <div class="text-right">
            <ul class="navigation text-white w-full text-3xl md:text-4xl">
                <li class="block py-2">
                    <a href="/" class="hover:text-yellow">Главная</a>
                </li>
                <li class="block py-2">
                    <a href="about.html" class="hover:text-yellow">О компании</a>
                </li>
                <li class="block py-1 sm:py-2">
                    <a href="production.html" class="hover:text-yellow">Ассортимент</a>
                </li>
                <li class="block py-1 sm:py-2">
                    <a href="corners.html" class="hover:text-yellow">Корнеры</a>
                </li>
                <li class="block py-1 sm:py-2">
                    <a href="market.html" class="hover:text-yellow">Маркет</a>
                </li>
                <li class="block py-1 sm:py-2">
                    <a href="comments.html" class="hover:text-yellow">Отзывы</a>
                </li>
                <li class="block py-1 sm:py-2">
                    <a href="contacts.html" class="hover:text-yellow">Контакты</a>
                </li>
                
            </ul>
        </div>  
    </div>
</div>