<div class="building flex w-full px-2 lg:px-4 mt-6">
    <div class="building__inner flex flex-col rounded-lg overflow-hidden h-full w-full border border-border bg-white">
        <div class="relative">
            <div class="building-carousel">
                <img data-lazy="img/objects/1.jpg" alt="Название" title="Назавание" class="w-full">
                <img data-lazy="img/objects/2.jpg" alt="Название" title="Назавание" class="w-full">
                <img data-lazy="img/objects/3.jpg" alt="Название" title="Назавание" class="w-full">
            </div>
            <div class="building__slide-fix lg:hidden absolute z-10 w-full h-full top-0 left-0"></div>
            <div class="building__best-seller-icon absolute z-20 w-8 h-8">
                <img src="img/elements/leader.svg" class="tooltip" alt="Лидер продаж" title="Лидер продаж">
            </div>
            <div class="building__favorite-icon bg-white text-red rounded flex items-center justify-center w-6 h-6 absolute z-20">
                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00035 1.01932C8.56635 -0.38668 10.9863 -0.340013 12.495 1.17132C14.003 2.68332 14.055 5.09132 12.6523 6.66199L6.99901 12.3233L1.34701 6.66199C-0.0556549 5.09132 -0.00298804 2.67932 1.50435 1.17132C3.01435 -0.338013 5.42968 -0.38868 7.00035 1.01932Z" fill="currentColor"/>
                </svg>
            </div>
            <div class="building__achievements absolute flex flex-col items-start font-bold text-white text-xs">
<!--                <div class="rounded inline-flex justify-center items-center bg-primary h-6 px-2 mt-1">-->
<!--                    ТОП ЖК-->
<!--                </div>-->
<!--                <div class="rounded inline-flex justify-center items-center bg-green h-6 px-2 mt-1">-->
<!--                    ТОП новостроек-->
<!--                </div>-->
<!--                <div class="rounded inline-flex justify-center items-center bg-orange h-6 px-2 mt-1">-->
<!--                    Надёжный застройщик-->
<!--                </div>-->
                <div class="rounded inline-flex justify-center items-center bg-red h-6 px-2 mt-1">
                    Срочная продажа
                </div>
            </div>
        </div>
        <div class="flex flex-col p-4">
            <div class="flex justify-between items-center">
                <a href="#" class="tooltip flex items-center hover:opacity-75" title="Надёжный застройщик">
                    <span class="mr-1">
                        <img src="img/elements/dev-check.svg">
                    </span>
                    <span class="text-main text-sm whitespace-no-wrap">
                        <span class="building__developer-name block truncate leading-none">
                            Близкий
                        </span>
                    </span>
                </a>
                <div class="flex">
                    <div class="font-medium text-13px text-main leading-none tracking-tighter whitespace-no-wrap">
                        2020 г.
                    </div>
                </div>
            </div>
            <a href="#" class="text-xl text-main font-semibold leading-none truncate w-full hover:opacity-75 mt-2" title="Фонтаны и длинное название">
                КП Близкий
            </a>
            <div class="text-sm text-second leading-none w-full truncate mt-2">
                Старокубанская, 2/23 или очень длинное название
            </div>
            <a href="#" class="building__rooms border-t border-b border-border hover:opacity-75 mt-3">
                <div class="building__rooms-content flex flex-col leading-relaxed pt-2 pb-3">
                    <div class="flex">
                        <div class="w-7/12 text-sm text-light truncate">
                            Дом 114 м²
                        </div>
                        <div class="w-5/12 text-sm text-main text-right truncate">
                            2,6 млн ₽
                        </div>
                    </div>
                </div>
            </a>
            <div class="flex w-full items-center mt-2">
                <div class="w-full text-dark text-sm leading-relaxed">
                    Адыгея - Тахтамукайский район
                    11.6 км до центра города
                </div>
            </div>
        </div>
    </div>
</div>