<div class="building flex w-full xl:w-1/4 px-2 lg:px-4 mt-6">
    <div class="building__inner flex flex-col rounded-lg overflow-hidden h-full w-full border border-border bg-white">
        <a href="#" class="flex items-start hover-effect">
            <img src="img/objects/1.jpg" alt="Название" title="Назавание" class="w-full">
        </a>
        <div class="flex flex-col p-4">
            <div class="flex justify-between items-center">
                <div class="flex items-center">
                    <div class="mr-1">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.97771 1.91324L12.7023 1.52786L13.1777 4.23817L15.6085 5.52786L14.4 8L15.6085 10.4721L13.1777 11.7618L12.7023 14.4721L9.97771 14.0868L8 16L6.02229 14.0868L3.29772 14.4721L2.82229 11.7618L0.391548 10.4721L1.6 8L0.391548 5.52786L2.82229 4.23817L3.29772 1.52786L6.02229 1.91324L8 0Z"
                                  fill="#1C7CD6"/>
                            <path d="M10.3229 5.82323L7.24995 8.89657L5.67669 7.32331L5.49991 7.14654L5.32314 7.32331L4.82322 7.82322L4.64645 8L4.82322 8.17678L7.07318 10.4267L7.24996 10.6035L7.42673 10.4267L11.1768 6.67669L11.3536 6.49985L11.1767 6.32307L10.6764 5.82316L10.4997 5.6465L10.3229 5.82323Z"
                                  fill="white" stroke="white" stroke-width="0.5"/>
                        </svg>
                    </div>
                    <div class="text-main text-sm whitespace-no-wrap">
                        <div class="building__developer-name truncate leading-none" title="СпецСтройКубань и компания">
                            Близкий
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="font-medium text-13px text-main leading-none tracking-tighter whitespace-no-wrap">
                        2020 г.
                    </div>
                </div>
            </div>
            <a href="#" class="text-xl text-main font-semibold leading-none truncate w-full hover:opacity-75 mt-2" title="Фонтаны и длинное название">
                КП Близкий
            </a>
            <div class="text-sm text-second leading-none w-full truncate mt-2">
                Старокубанская, 2/23 или очень длинное название
            </div>
            <div class="building__rooms border-t border-b border-border mt-3">
                <div class="building__rooms-content flex flex-col leading-relaxed pt-2 pb-3">
                    <div class="flex">
                        <div class="w-7/12 text-sm text-light truncate">
                            Дом 114 м²
                        </div>
                        <div class="w-5/12 text-sm text-main text-right truncate">
                            2,6 млн ₽
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex w-full items-center mt-2">
                <div class="w-full text-dark text-sm leading-relaxed">
                    Адыгея - Тахтамукайский район
                    11.6 км до центра города
                </div>
            </div>
        </div>
    </div>
</div>