<div class="building building_percent-width flex w-full px-2 lg:px-4 mt-6">
    <div class="building__inner flex flex-col rounded-lg overflow-hidden h-full w-full border border-border bg-white">
        <div class="relative">
            <div class="building-carousel">
                <img data-lazy="img/objects/1.jpg" alt="Название" title="Назавание" class="w-full">
                <img data-lazy="img/objects/2.jpg" alt="Название" title="Назавание" class="w-full">
                <img data-lazy="img/objects/3.jpg" alt="Название" title="Назавание" class="w-full">
                <div class="relative z-30">
                    <img src="img/buildings/empty.png" alt="Название" title="Назавание" class="w-full">
                    <div class="flex h-full w-full flex-col absolute left-0 top-0">
                        <div class="flex items-center justify-center bg-green flex-grow hover-effect call hover-effect cursor-pointer">
                            <div class="flex items-center">
                                <div class="flex flex-shrink-0 w-8 h-8 rounded-full bg-white items-center justify-center mr-2">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 8.94667V11.304C12.0001 11.4728 11.9361 11.6353 11.8211 11.7588C11.706 11.8823 11.5484 11.9575 11.38 11.9693C11.0887 11.9893 10.8507 12 10.6667 12C4.77533 12 0 7.22467 0 1.33333C0 1.14933 0.01 0.911334 0.0306667 0.62C0.0424816 0.451629 0.117721 0.294007 0.241202 0.178939C0.364684 0.0638712 0.527215 -7.62887e-05 0.696 1.71053e-07H3.05333C3.13603 -8.35563e-05 3.2158 0.0305727 3.27715 0.0860136C3.33851 0.141455 3.37706 0.217722 3.38533 0.3C3.40067 0.453334 3.41467 0.575333 3.428 0.668C3.56049 1.59262 3.832 2.49189 4.23333 3.33533C4.29667 3.46867 4.25533 3.628 4.13533 3.71333L2.69667 4.74133C3.5763 6.79097 5.2097 8.42436 7.25933 9.304L8.286 7.868C8.32796 7.80933 8.38919 7.76725 8.459 7.7491C8.52881 7.73095 8.60277 7.73787 8.668 7.76867C9.51135 8.16924 10.4104 8.44008 11.3347 8.572C11.4273 8.58533 11.5493 8.6 11.7013 8.61467C11.7835 8.62309 11.8596 8.66171 11.9149 8.72305C11.9702 8.78439 12.0008 8.86408 12.0007 8.94667H12Z"
                                              fill="#18BE6E"/>
                                    </svg>
                                </div>
                                <div class="text-white font-bold">
                                    Перезвоните мне
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-center bg-primary flex-grow hover-effect call-write hover-effect cursor-pointer">
                            <div class="flex items-center">
                                <div class="flex flex-shrink-0 w-8 h-8 rounded-full bg-white items-center justify-center mr-2">
                                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.66732 0H8.33398C9.74847 0 11.105 0.561903 12.1052 1.5621C13.1054 2.56229 13.6673 3.91885 13.6673 5.33333C13.6673 6.74782 13.1054 8.10438 12.1052 9.10457C11.105 10.1048 9.74847 10.6667 8.33398 10.6667V13C5.00065 11.6667 0.333984 9.66667 0.333984 5.33333C0.333984 3.91885 0.895888 2.56229 1.89608 1.5621C2.89628 0.561903 4.25283 0 5.66732 0Z"
                                              fill="#1C7CD6"/>
                                    </svg>
                                </div>
                                <div class="text-white font-bold">
                                    Написать нам
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="building__slide-fix lg:hidden absolute z-10 w-full h-full top-0 left-0"></div>
            <div class="building__best-seller-icon absolute z-20 w-8 h-8">
                <img src="img/elements/leader.svg" class="tooltip" alt="Лидер продаж" title="Лидер продаж">
            </div>
            <div class="building__favorite-icon bg-white rounded flex items-center justify-center w-6 h-6 absolute z-20">
                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00035 1.01932C8.56635 -0.38668 10.9863 -0.340013 12.495 1.17132C14.003 2.68332 14.055 5.09132 12.6523 6.66199L6.99901 12.3233L1.34701 6.66199C-0.0556549 5.09132 -0.00298804 2.67932 1.50435 1.17132C3.01435 -0.338013 5.42968 -0.38868 7.00035 1.01932Z" fill="currentColor"/>
                </svg>
            </div>
            <div class="building__achievements absolute flex flex-col items-start font-bold text-white text-xs">
                <!--                <div class="rounded inline-flex justify-center items-center bg-primary h-6 px-2 mt-1">-->
                <!--                    ТОП ЖК-->
                <!--                </div>-->
                <!--                <div class="rounded inline-flex justify-center items-center bg-green h-6 px-2 mt-1">-->
                <!--                    ТОП новостроек-->
                <!--                </div>-->
                <!--                <div class="rounded inline-flex justify-center items-center bg-orange h-6 px-2 mt-1">-->
                <!--                    Надёжный застройщик-->
                <!--                </div>-->
                <div class="rounded inline-flex justify-center items-center bg-red h-6 px-2 mt-1">
                    Срочная продажа
                </div>
            </div>
        </div>
        <div class="flex flex-col p-4">
            <div class="flex justify-between items-center">
                <a href="#" class="tooltip flex items-center hover:opacity-50" title="Надёжный застройщик">
                    <span class="mr-1">
                        <img src="img/elements/dev-check.svg" alt="">
                    </span>
                    <span class="text-main text-sm whitespace-no-wrap">
                        <span class="building__developer-name block truncate leading-none">
                            Близкий
                        </span>
                    </span>
                </a>
                <div class="flex">
                    <div class="font-medium text-13px text-main leading-none tracking-tighter whitespace-no-wrap">
                        2020 г.
                    </div>
                </div>
            </div>
            <a href="#" class="text-xl text-main font-semibold leading-none truncate w-full hover:opacity-50 mt-2" title="Фонтаны и длинное название">
                КП Близкий
            </a>
            <div class="text-sm text-second leading-none w-full truncate mt-2">
                Старокубанская, 2/23 или очень длинное название
            </div>
            <a href="#" class="building__rooms border-t border-b border-border hover:opacity-50 mt-3">
                <div class="building__rooms-content flex flex-col leading-relaxed pt-2 pb-3">
                    <div class="flex">
                        <div class="w-7/12 text-sm text-light truncate">
                            Дом 114 м²
                        </div>
                        <div class="w-5/12 text-sm text-main text-right truncate">
                            2,6 млн ₽
                        </div>
                    </div>
                </div>
            </a>
            <div class="flex w-full items-center mt-2">
                <div class="w-full text-dark text-sm leading-relaxed">
                    Адыгея - Тахтамукайский район
                    11.6 км до центра города
                </div>
            </div>
        </div>
    </div>
</div>