<div class="flex justify-between -mx-2 xs:-mx-4 mt-12">
    <div class="flex px-2 xs:px-4">
        <button class="bg-primary rounded hover:bg-border transition duration-300 text-white hover:text-dark select-none h-12 px-6">
            <span class="flex justify-center items-center w-full h-full font-bold text-sm">
                Ещё
            </span>
        </button>
    </div>
    <div class="flex px-2 xs:px-4">
        <ul class="pagination flex rounded leading-none text-sm items-center py-2 px-4 sm:px-0">
            <li>
                <a href="#">
                    <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.68446 6L6 0.745807L4.88391 0L0 6L4.88391 12L6 11.2542L1.68446 6Z" fill="#3B454E"/>
                    </svg>
                </a>
            </li>
            <li class="active">
                <a href="#">
                    1
                </a>
            </li>
            <li>
                <a href="#">
                    2
                </a>
            </li>
            <li>
                <a href="#">
                    3
                </a>
            </li>
            <li>
                <a href="#">
                    4
                </a>
            </li>
            <li>
                <a href="#">
                    ...
                </a>
            </li>
            <li>
                <a href="#">
                    9
                </a>
            </li>
            <li>
                <a href="#">
                    <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.31554 6L0 0.745807L1.11609 0L6 6L1.11609 12L0 11.2542L4.31554 6Z" fill="#3B454E"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>