<section class="mt-16">
    <div class="container px-4">
        <div class="w-full xl:w-9/12">
            <div class="flex flex-wrap justify-between items-center w-full">
                <h2 class="mr-3">
                    Публикации
                </h2>
                <div>
                    <a href="#" class="text-primary hover:opacity-75">
                        Публикации про объект
                    </a>
                </div>
            </div>
            <ul class="filter-categories -mx-2">
                <li class="active">
                    <a href="#">
                        Мнения экспертов
                    </a>
                </li>
                <li>
                    <a href="#">
                        Новости
                    </a>
                </li>
            </ul>
            <div class="flex flex-wrap -mx-4 mt-4">
                <div class="px-4">
                    <div class="rounded-full w-20 h-20 bg-no-repeat bg-cover bg-center" style="background-image:url(img/elements/empty-avatar.jpg);"></div>
                </div>
                <div class="max-w-xl px-4 mt-4 md:mt-0">
                    <h3>
                        Хотите стать экспертом?
                    </h3>
                    <div class="mt-1">
                        На данный момент не один эксперт не оставил ещё мнения об этом объекте. Вы можете стать экспертом, написать мнение и выставить оценку.
                    </div>
                </div>
                <div class="self-center px-4 mt-4 lg:mt-0">
                    <button class="bg-primary rounded hover:bg-border transition duration-300 text-white hover:text-dark select-none h-12 px-6">
                        <span class="flex justify-center items-center w-full h-full font-bold text-sm">
                            Стать экспертом
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>