<div class="building building_3-col flex w-full px-2 lg:px-4 mt-6">
    <div class="building__inner flex flex-col rounded-lg overflow-hidden h-full w-full border border-border bg-white">
        <div class="relative">
            <div>
                <img src="img/plans/room-plate.jpg" alt="Название" title="Назавание" class="w-full">
            </div>
            <div class="building__favorite-icon border border-border bg-white rounded flex items-center justify-center w-6 h-6 absolute z-20">
                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00035 1.01932C8.56635 -0.38668 10.9863 -0.340013 12.495 1.17132C14.003 2.68332 14.055 5.09132 12.6523 6.66199L6.99901 12.3233L1.34701 6.66199C-0.0556549 5.09132 -0.00298804 2.67932 1.50435 1.17132C3.01435 -0.338013 5.42968 -0.38868 7.00035 1.01932Z" fill="currentColor"/>
                </svg>
            </div>
        </div>
        <div class="flex flex-col p-4">
            <div class="flex items-center -mx-1">
                <div class="px-1">
                    <div class="mortgage-info text-green bg-green-007 text-xs font-semibold flex items-center justify-center h-6">
                        Ипотека от 5,5%
                    </div>
                </div>
                <div class="px-1 tooltip" title="информация">
                    <div class="rounded-full flex flex-shrink-0 text-orange bg-orange-007 items-center justify-center w-6 h-6">
                        <img src="img/elements/percent.svg">
                    </div>
                </div>
                <div class="px-1 tooltip ml-auto" title="информация">
                    <div class="text-primary text-xs font-medium">
                        2020-2021 гг.
                    </div>
                </div>
            </div>
            <a href="#" class="text-xl text-main font-semibold leading-none truncate w-full hover:opacity-75 mt-2" title="Фонтаны и длинное название">
                1-комн. 22.4 м2
            </a>
            <div class="text-sm text-second leading-none w-full mt-2">
                ЖК Самый совершенный дом на районе
            </div>
            <div class="text-sm text-second leading-none w-full  mt-2">
                Анапский район, ул. Пушкина, 33/2
            </div>
            <div class="text-base w-full truncate mt-4">
                1 433 698 ₽ <span class="text-light">• 119 113 ₽/м2</span>
            </div>
            <div>
                3 литер, 13 этаж из 16
            </div>
        </div>
    </div>
</div>