<div class="room-item -mx-4 sm:mx-0 mt-2">
    <div class="room-item__caption border border-border sm:rounded bg-white hover:bg-light-bg transition duration-300 relative z-10 cursor-pointer py-4 px-4 md:px-8">
        <div class="flex flex-grow flex-wrap lg:flex-no-wrap justify-between items-center -mx-1">
            <div class="room-item__img-wrap flex-shrink-0 bg-transparent w-1/2 sm:w-1/4 px-1">
                <a href="#" class="room-item__img block bg-no-repeat bg-transparent bg-contain bg-center hover:opacity-75" style="background-image:url(img/plans/plan1.png);"></a>
            </div>
            <div class="room-item__type w-1/2 sm:w-1/4 px-1">
                <a href="#" class="text-primary block hover:opacity-75">
                    Студия
                </a>
                <div class="text-xs text-light">
                    22.4 м2
                </div>
            </div>
            <div class="room-item__floor w-1/2 sm:w-1/4 px-1">
                <div>
                    13 этаж
                </div>
                <div class="text-light text-xs">
                    из 16
                </div>
            </div>
            <div class="room-item__period flex-shrink-0 w-1/2 sm:w-1/4  px-1 mt-3 sm:mt-0">
                <div>
                    3 кв. 2022 г.
                </div>
                <div class="text-light text-xs">
                    литер 3
                </div>
            </div>
            <div class="room-item__building-name w-full sm:w-4/12 md:w-5/12 px-1 mt-3">
                <div>
                    ЖК Самый совершенный
                    дом на районе
                </div>
                <div class="text-light text-xs">
                    ул. Восточно-кругликовская,
                    34/5 корпус 2
                </div>
            </div>
            <div class="room-item__price flex-shrink-0 w-5/12 sm:w-3/12 md:w-3/12 px-1 mt-3">
                <div>
                    100 433 698 ₽
                </div>
                <div class="text-xs text-light">
                    119 113 ₽/м2
                </div>
            </div>
            <div class="room-item__icons flex flex-shrink-0 items-center justify-end w-7/12 sm:w-5/12 md:w-4/12 px-1 mt-3">
                <div class="flex flex-shrink-0 items-center -mx-2">
                    <div class="flex-shrink-0 px-2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.1" width="24" height="24" rx="12" fill="#FF9F2F"/>
                            <path d="M17.5 13.9999C17.5 15.1045 16.6046 15.9999 15.5 15.9999C14.3954 15.9999 13.5 15.1045 13.5 13.9999C13.5 12.8954 14.3954 11.9999 15.5 11.9999C16.6046 11.9999 17.5 12.8954 17.5 13.9999Z" fill="#FF9F2F"/>
                            <path d="M10.5 9.99995C10.5 11.1045 9.60457 11.9999 8.5 11.9999C7.39543 11.9999 6.5 11.1045 6.5 9.99995C6.5 8.89538 7.39543 7.99995 8.5 7.99995C9.60457 7.99995 10.5 8.89538 10.5 9.99995Z" fill="#FF9F2F"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.10557 15.5527L13.1056 7.55273L14.8944 8.44716L10.8944 16.4472L9.10557 15.5527Z" fill="#FF9F2F"/>
                        </svg>
                    </div>
                    <div class="flex flex-col items-center px-2">
                        <div class="flex text-xs lg:text-sm border border-orange text-orange rounded p-1">
                            Отделка
                        </div>
                        <div class="flex text-xs lg:text-sm border border-green text-green rounded p-1 mt-2">
                            Ипотека 0%
                        </div>
                    </div>
                    <div class="px-2">
                        <div class="room-item__like text-red flex justify-center items-center border border-border rounded">
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.00132 1.01932C8.56732 -0.38668 10.9873 -0.340013 12.496 1.17132C14.004 2.68332 14.056 5.09132 12.6533 6.66199L6.99999 12.3233L1.34799 6.66199C-0.0546783 5.09132 -0.00201148 2.67932 1.50532 1.17132C3.01532 -0.338013 5.43066 -0.38868 7.00132 1.01932Z"
                                      fill="currentColor"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="room-item__content hidden border border-border sm:rounded relative -mt-1">
        <div class="flex flex-wrap">
            <div class="room-item__img-full w-full sm:w-1/2 lg:w-1/3 px-4 sm:px-5 py-5">
                <img src="img/plans/plan-content-full.png" alt="навзвание" title="навзвание">
            </div>
            <div class="room-item__img-full w-full sm:w-1/2 lg:w-1/3 px-4 sm:px-5 py-5">
                <div class="flex flex-wrap -mx-4">
                    <div class="w-1/2 px-4">
                        <div class="text-light">
                            Общая площадь
                        </div>
                        <div class="text-xl">
                            71.57 м²
                        </div>
                    </div>
                    <div class="w-1/2 px-4">
                        <div class="text-light">
                            Кухня
                        </div>
                        <div class="text-xl">
                            15.57 м²
                        </div>
                    </div>
                    <div class="w-1/2 px-4 mt-5">
                        <div class="text-light">
                            Общая площадь
                        </div>
                        <div class="text-xl">
                            71.57 м²
                        </div>
                    </div>
                    <div class="w-1/2 px-4 mt-5">
                        <div class="text-light">
                            Кухня
                        </div>
                        <div class="text-xl">
                            15.57 м²
                        </div>
                    </div>
                </div>
                <div>
                    <button class="flex items-center justify-center w-full h-12 bg-inputs hover:bg-primary rounded text-dark hover:text-white px-4 mt-5">
                        <span class="font-bold text-sm">
                            Забронировать
                        </span>
                    </button>
                    <button class="flex items-center justify-center w-full h-12 bg-inputs hover:bg-primary rounded text-dark hover:text-white px-4 mt-5">
                        <span class="font-bold text-sm">
                            Рассчитать ипотеку
                        </span>
                    </button>
                    <div class="mt-5 text-center text-primary hover:opacity-75 cursor-pointer">
                        Назначить просмотр
                    </div>
                </div>
            </div>
            <div class="room-item__img-full w-full bg-light-bg lg:w-1/3 px-4 sm:px-5 py-5">
                <div class="text-center">
                    Бесплатная консультация
                </div>
                <form>
                    <div class="form-group mt-5">
                        <div class="form-control max-w-xs mx-auto w-full mt-1">
                            <input type="tel" name="tel" class="w-full bg-white text-sm text-dark placeholder-light rounded px-4 h-12" placeholder="+7 (___) ___ - __ - __">
                        </div>
                    </div>
                    <div class="form-group max-w-xs mx-auto">
                        <button type="submit" class="bg-primary rounded hover:bg-border transition duration-300 text-white hover:text-dark w-full select-none h-12 px-6 mt-3">
                            <span class="flex justify-center items-center w-full h-full font-bold text-sm">
                                Перезвоните мне
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>