<div class="mt-16">
    <h2>
        Смотрите так же
    </h2>
    <div class="flex flex-wrap -mx-2 md:-mx-4">
        <div class="w-full sm:w-1/3 px-2 sm:px-4 mt-4">
            <a href="#" class="block hover-effect rounded">
                <img src="img/backgrounds/see1.jpg" class="w-full block rounded" alt="о нас" title="о нас">
            </a>
            <div class="mt-4">
                <a href="#" class="text-lg font-semibold hover:opacity-50">
                    О нас
                </a>
            </div>
        </div>
        <div class="w-full sm:w-1/3 px-2 sm:px-4 mt-4">
            <a href="#" class="block hover-effect rounded">
                <img src="img/backgrounds/see2.jpg" class="w-full block rounded" alt="застройщикам" title="застройщикам">
            </a>
            <div class="mt-4">
                <a href="#" class="text-lg font-semibold hover:opacity-50">
                    Застройщикам
                </a>
            </div>
        </div>
        <div class="w-full sm:w-1/3 px-2 sm:px-4 mt-4">
            <a href="#" class="block hover-effect rounded">
                <img src="img/backgrounds/see3.jpg" class="w-full block rounded" alt="готовый отдел продаж" title="готовый отдел продаж">
            </a>
            <div class="mt-4">
                <a href="#" class="text-lg font-semibold hover:opacity-50">
                    Готовый отдел продаж
                </a>
            </div>
        </div>
    </div>
</div>