<section class="mt-10 overflow-hidden">
    <div class="container px-4">
        <div class="flex justify-between -mx-2">
            <h2 class="px-2">
                Сервисы
            </h2>
            <a href="#" class="text-primary text-xs lg:text-sm px-2">
                Все сервисы
            </a>
        </div>
    </div>
    <div class="container pl-4 pr-0 lg:pr-4">
        <div class="services-slider -mx-2 lg:-mx-4 mt-4">
            <div class="service-item px-2 lg:px-4">
                <div class="flex">
                    <a href="#" class="service-item__img bg-no-repeat bg-cover bg-center flex flex-shrink-0 rounded hover-effect p-4 mr-3 lg:mr-0" style="background-image:url(img/backgrounds/serv1.jpg);">
                        <span class="hidden lg:inline font-semibold text-base leading-tight">
                            Покупка и продажа недвижимости
                        </span>
                    </a>
                    <div class="flex flex-col lg:hidden">
                        <a href="#" class="flex font-semibold text-sm leading-tight hover:opacity-75">
                            Покупка и продажа недвижимости
                        </a>
                        <div class="flex mt-1 text-second leading-relaxed text-xs">
                            Небольшая комментирующая подпись про этот сервис
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item px-2 lg:px-4">
                <div class="flex">
                    <a href="#" class="service-item__img bg-no-repeat bg-cover bg-center flex flex-shrink-0 rounded hover-effect p-4 mr-3 lg:mr-0" style="background-image:url(img/backgrounds/serv2.jpg);">
                        <span class="hidden lg:inline font-semibold text-base leading-tight">
                            Подбор недвижимости
                        </span>
                    </a>
                    <div class="flex flex-col lg:hidden">
                        <a href="#" class="flex font-semibold text-sm leading-tight hover:opacity-75">
                            Подбор недвижимости
                        </a>
                        <div class="flex mt-1 text-second leading-relaxed text-xs">
                            Небольшая комментирующая подпись про этот сервис
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item px-2 lg:px-4">
                <div class="flex">
                    <a href="#" class="service-item__img bg-no-repeat bg-cover bg-center flex flex-shrink-0 rounded hover-effect p-4 mr-3 lg:mr-0" style="background-image:url(img/backgrounds/serv3.jpg);">
                        <span class="hidden lg:inline font-semibold text-base leading-tight">
                            Открытие ипотеки
                        </span>
                    </a>
                    <div class="flex flex-col lg:hidden">
                        <a href="#" class="flex font-semibold text-sm leading-tight hover:opacity-75">
                            Открытие ипотеки
                        </a>
                        <div class="flex mt-1 text-second leading-relaxed text-xs">
                            Небольшая комментирующая подпись про этот сервис
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item px-2 lg:px-4">
                <div class="flex">
                    <a href="#" class="service-item__img bg-no-repeat bg-cover bg-center flex flex-shrink-0 rounded hover-effect p-4 mr-3 lg:mr-0" style="background-image:url(img/backgrounds/serv4.jpg);">
                        <span class="hidden lg:inline font-semibold text-base leading-tight">
                            Проверка на юридическую чистоту
                        </span>
                    </a>
                    <div class="flex flex-col lg:hidden">
                        <a href="#" class="flex font-semibold text-sm leading-tight hover:opacity-75">
                            Проверка на юридическую чистоту
                        </a>
                        <div class="flex mt-1 text-second leading-relaxed text-xs">
                            Небольшая комментирующая подпись про этот сервис
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item px-2 lg:px-4">
                <div class="flex">
                    <a href="#" class="service-item__img bg-no-repeat bg-cover bg-center flex flex-shrink-0 rounded hover-effect p-4 mr-3 lg:mr-0" style="background-image:url(img/backgrounds/serv5.jpg);">
                        <span class="hidden lg:inline font-semibold text-base leading-tight">
                            Юридическое сопровождение
                        </span>
                    </a>
                    <div class="flex flex-col lg:hidden">
                        <a href="#" class="flex font-semibold text-sm leading-tight hover:opacity-75">
                            Юридическое сопровождение
                        </a>
                        <div class="flex mt-1 text-second leading-relaxed text-xs">
                            Небольшая комментирующая подпись про этот сервис
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item px-2 lg:px-4">
                <div class="flex">
                    <a href="#" class="service-item__img bg-no-repeat bg-cover bg-center flex flex-shrink-0 rounded hover-effect p-4 mr-3 lg:mr-0" style="background-image:url(img/backgrounds/serv6.jpg);">
                        <span class="hidden lg:inline font-semibold text-base leading-tight">
                            Ремонтные и отделочные работы
                        </span>
                    </a>
                    <div class="flex flex-col lg:hidden">
                        <a href="#" class="flex font-semibold text-sm leading-tight hover:opacity-75">
                            Ремонтные и отделочные работы
                        </a>
                        <div class="flex mt-1 text-second leading-relaxed text-xs">
                            Небольшая комментирующая подпись про этот сервис
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-item px-2 lg:px-4">
                <div class="flex">
                    <a href="#" class="service-item__img bg-no-repeat bg-cover bg-center flex flex-shrink-0 rounded hover-effect p-4 mr-3 lg:mr-0" style="background-image:url(img/backgrounds/serv6.jpg);">
                        <span class="hidden lg:inline font-semibold text-base leading-tight">
                            Ремонтные и отделочные работы
                        </span>
                    </a>
                    <div class="flex flex-col lg:hidden">
                        <a href="#" class="flex font-semibold text-sm leading-tight hover:opacity-75">
                            Ремонтные и отделочные работы
                        </a>
                        <div class="flex mt-1 text-second leading-relaxed text-xs">
                            Небольшая комментирующая подпись про этот сервис
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>