<div class="tags overflow-hidden mt-6">
    <div class="container pl-4 lg:pr-4">
        <ul class="flex text-primary text-xs lg:text-sm whitespace-no-wrap overflow-x-auto lg:overflow-x-visible pb-2 -mx-2 lg:-mx-3">
            <li class="px-2 lg:px-3">
                <a href="#">Ипотека на 1-комн. в новостройке</a>
            </li>
            <li class="px-2 lg:px-3">
                <a href="#">Материнский капитал на 3-комн.</a>
            </li>
            <li class="px-2 lg:px-3">
                <a href="#">Студия до 1,5 млн. ₽</a>
            </li>
            <li class="px-2 lg:px-3">
                <a href="#">2-комн. до 3 млн. ₽</a>
            </li>
            <li class="px-2 lg:px-3">
                <a href="#">Коттедж в ипотеку</a>
            </li>
        </ul>
    </div>
</div>