<div class="container pl-2 lg:px-4 mt-6">
    <ul class="flex lg:flex-wrap text-primary text-xs lg:text-sm whitespace-no-wrap overflow-x-auto lg:overflow-x-visible pb-2 lg:-mx-3">
        <li class="px-2 lg:px-3">
            <a href="#" class="hover:opacity-50">Ипотека на 1-комн. в новостройке</a>
        </li>
        <li class="px-2 lg:px-3">
            <a href="#" class="hover:opacity-50">Материнский капитал на 3-комн.</a>
        </li>
        <li class="px-2 lg:px-3">
            <a href="#" class="hover:opacity-50">Студия до 1,5 млн. ₽</a>
        </li>
        <li class="px-2 lg:px-3">
            <a href="#" class="hover:opacity-50">2-комн. до 3 млн. ₽</a>
        </li>
        <li class="px-2 lg:px-3">
            <a href="#" class="hover:opacity-50">Коттедж в ипотеку</a>
        </li>
    </ul>
</div>

