<div class="tags overflow-hidden mt-6">
    <div class="container pl-4 lg:pr-4">
        <ul class="flex text-primary text-xs lg:text-sm whitespace-no-wrap overflow-x-auto lg:overflow-x-visible pb-2 -mx-2 lg:-mx-3">
            <li class="px-2 lg:px-3">
                Ипотека на 1-комн. в новостройке
            </li>
            <li class="px-2 lg:px-3">
                Материнский капитал на 3-комн.
            </li>
            <li class="px-2 lg:px-3">
                Студия до 1,5 млн. ₽
            </li>
            <li class="px-2 lg:px-3">
                2-комн. до 3 млн. ₽
            </li>
            <li class="px-2 lg:px-3">
                Коттедж в ипотеку
            </li>
        </ul>
    </div>
</div>