<div class="border-t border-b border-border py-6">
    <div class="container px-4">
        <form class="flex flex-wrap -mx-2">
            <div class="form-group w-full sm:w-1/2 xl:w-1/5 px-2">
                <div class="flex w-full text-light text-sm leading-7">
                    Класс жилья
                </div>
                <div class="form-control gray-select w-full">
                    <select multiple="multiple" data-placeholder="Класс жилья" name="building-class" class="customMultiple" tabindex="-1">
                        <option value="Эконом">Эконом</option>
                        <option value="Комфорт">Комфорт</option>
                        <option value="Элитный">Элитный</option>
                    </select>
                </div>
            </div>
            <div class="form-group w-full sm:w-1/2 xl:w-1/5 px-2 mt-3 sm:mt-0">
                <div class="flex w-full text-light text-sm leading-7">
                    Район
                </div>
                <div class="form-control gray-select w-full">
                    <select multiple="multiple" data-placeholder="Выберите район" name="town" class="customSearchMultiple" tabindex="-1">
                        <option value="Центральный">Центральный</option>
                        <option value="Школьный">Школьный</option>
                        <option value="Юбилейный">Юбилейный</option>
                        <option value="Славянский">Славянский</option>
                        <option value="Фестивальный">Фестивальный</option>
                        <option value="Пашковский">Пашковский</option>
                        <option value="Гидростроителей">Гидростроителей</option>
                        <option value="Юбилейный">Юбилейный</option>
                        <option value="Дубинка">Дубинка</option>
                        <option value="Лента">Лента</option>
                    </select>
                </div>
            </div>
            <div class="form-group w-full sm:w-1/2 xl:w-1/5 px-2 mt-3 xl:mt-0">
                <div class="flex w-full text-light text-sm leading-7">
                    Комнаты
                </div>
                <div class="flex">
                    <label class="room-size flex-grow">
                        <input type="checkbox" name="type-studio" class="room-size__checkbox hidden" value="Все">
                        <span class="room-size__custom flex items-center justify-center bg-inputs text-xs xs:text-sm text-dark rounded-l h-12 flex-shrink-0">
                            Студия
                        </span>
                    </label>
                    <label class="room-size flex flex-grow">
                        <input type="checkbox" name="type-1" class="room-size__checkbox hidden" value="Вторича">
                        <span class="room-size__custom flex flex-grow items-center justify-center bg-inputs text-xs xs:text-sm text-dark border-border border-l h-12">
                            1
                        </span>
                    </label>
                    <label class="room-size flex flex-grow">
                        <input type="checkbox" name="type-2" class="room-size__checkbox hidden" value="Новостройка">
                        <span class="room-size__custom flex flex-grow items-center justify-center bg-inputs text-xs xs:text-sm text-dark h-12 border-border border-l">
                            2
                        </span>
                    </label>
                    <label class="room-size flex flex-grow">
                        <input type="checkbox" name="type-3" class="room-size__checkbox hidden" value="Коттедж">
                        <span class="room-size__custom flex flex-grow items-center justify-center bg-inputs text-xs xs:text-sm text-dark border-border border-l rounded-r h-12">
                            3+
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-group w-full sm:w-1/2 xl:w-1/5 px-2 mt-3 xl:mt-0">
                <div class="text-light text-sm leading-7">
                    Цена до
                </div>
                <div class="form-control w-full">
                    <span class="form-control__unit block text-dark absolute">
                        ₽
                    </span>
                    <input type="text" class="w-full bg-inputs text-sm text-dark placeholder-light rounded pl-4 pr-8 h-12" id="build-price" placeholder="до 10 000 0000">
                </div>
            </div>
            <div class="form-group w-full sm:w-1/2 xl:w-1/5 px-2 mt-3 xl:mt-0">
                <div class="text-light text-sm leading-7">
                    Срок сдачи
                </div>
                <div class="form-control gray-select w-full">
                    <select multiple="multiple" data-placeholder="Срок сдачи" name="time" class="customMultiple" tabindex="-1">
                        <option value="2020">2020</option>
                        <option value="2020">2021</option>
                        <option value="2020">2022</option>
                        <option value="2020">2023</option>
                    </select>
                </div>
            </div>
            <div class="form-group w-full sm:w-1/2 xl:w-4/12 px-2 mt-3">
                <div class="xl:hidden text-light text-sm leading-7">
                    Название жк или застройщика
                </div>
                <div class="form-control gray-select w-full">
                    <select multiple="multiple" data-placeholder="Название ЖК или застройщика" name="building-name" class="customSearchMultiple" tabindex="-1">
                        <optgroup label="Застройщики">
                            <option value="СтройИнвестКубань">СтройИнвестКубань</option>
                            <option value="ССК">ССК</option>
                            <option value="Девелопмент-Юг">Девелопмент-Юг</option>
                            <option value="Неометрия">Неометрия</option>
                        </optgroup>
                        <optgroup label="ЖК">
                            <option value="Южане">Южане</option>
                            <option value="Панорама">Панорама</option>
                            <option value="Версаль">Версаль</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="form-group self-center flex w-full md:w-9/12 lg:w-7/12 xl:w-6/12 px-2 mt-1">
                <div class="flex flex-wrap items-center text-xs -mx-1">
                    <div class="form-group px-1 mt-2">
                        <label>
                            <input name="mortgage" type="checkbox" class="hidden check-button">
                            <span class="check-button__custom block bg-white border border-border rounded text-dark p-2">
                                    Ипотека от 3.1%
                                </span>
                        </label>
                    </div>
                    <div class="form-group px-1 mt-2">
                        <label>
                            <input name="mat-capital" type="checkbox" class="hidden check-button">
                            <span class="check-button__custom block bg-white border border-border rounded text-dark p-2">
                                    Материнский капитал
                                </span>
                        </label>
                    </div>
                    <div class="form-group px-1 mt-2">
                        <label>
                            <input name="military-mortgage" type="checkbox" class="hidden check-button">
                            <span class="check-button__custom block bg-white border border-border rounded text-dark p-2">
                                    Военная ипотека
                                </span>
                        </label>
                    </div>
                    <div class="form-group px-1 mt-2">
                        <label>
                            <input name="credit" type="checkbox" class="hidden check-button">
                            <span class="check-button__custom block bg-white border border-border rounded text-dark p-2">
                                    Рассрочка
                                </span>
                        </label>
                    </div>
                    <div class="form-group px-1 mt-2">
                        <label>
                            <input name="repair" type="checkbox" class="hidden check-button">
                            <span class="check-button__custom block bg-white border border-border rounded text-dark p-2">
                                С ремонтом
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group flex md:justify-end w-full md:w-3/12 lg:w-5/12 xl:w-2/12 px-2 mt-5 sm:mt-3">
                <button type="submit" class="bg-primary hover:bg-border font-bold text-sm h-12 rounded text-white hover:text-dark hover transition duration-300 select-none px-4">
                    <span class="flex items-center justify-center w-full h-full">
                        <span class="mr-1">Показать 557</span>
                        <span class="flex flex-shrink-0">
                            <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 4.50022L1.49973 9.00049L-6.56019e-08 7.49969L3.00053 4.50022L-3.27824e-07 1.50075L1.49973 -4.29809e-05L6 4.50022Z" fill="currentColor">
                                </path>
                            </svg>
                        </span>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>