<section class="mt-16 overflow-hidden">
    <div class="container px-4">
        <h3>
            Вы смотрели
        </h3>
    </div>
    <div class="container pl-4 pr-0 lg:pr-4">
        <div class="viewed-slider overflow-y-auto lg:overflow-y-visible flex lg:flex-wrap -mx-2 lg:-mx-4 pb-4">
            <div class="viewed-item px-2 lg:px-4 mt-3">
                <div class="flex w-full md:border border-border rounded-md md:p-3">
                    <a href="#" class="viewed-item__img flex flex-shrink-0 bg-center bg-no-repeat bg-cover rounded-md hover-effect mr-2 md:mr-3" style="background-image:url(img/buildings/1.jpg);"></a>
                    <div class="viewed-item__desc flex w-full flex-col leading-none">
                        <a href="#" class="block w-full truncate font-semibold text-sm lg:text-base text-main hover:opacity-50">Южане</a>
                        <div class="w-full truncate text-second text-xs mt-2">
                            Старокубанская, 2/23
                        </div>
                        <div class="flex mt-auto truncate">
                            <div class="font-medium text-orange text-xs mr-2">
                                2020 г.
                            </div>
                            <div class="text-xs text-main">
                                от 2,1 млн ₽
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="viewed-item px-2 lg:px-4 mt-3">
                <div class="flex w-full md:border border-border rounded-md md:p-3">
                    <a href="#" class="viewed-item__img flex flex-shrink-0 bg-center bg-no-repeat bg-cover rounded-md hover-effect mr-2 md:mr-3" style="background-image:url(img/buildings/2.jpg);"></a>
                    <div class="viewed-item__desc flex w-full flex-col leading-none">
                        <a href="#" class="block w-full truncate font-semibold text-sm lg:text-base text-main hover:opacity-50">Южане и длинное название комплекса</a>
                        <div class="w-full truncate text-second text-xs mt-2">
                            Старокубанская, 2/23 и длинное название улицы
                        </div>
                        <div class="flex mt-auto truncate">
                            <div class="font-medium text-orange text-xs mr-2">
                                2020 г.
                            </div>
                            <div class="text-xs text-main">
                                от 2,1 млн ₽
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="viewed-item px-2 lg:px-4 mt-3">
                <div class="flex w-full md:border border-border rounded-md md:p-3">
                    <a href="#" class="viewed-item__img flex flex-shrink-0 bg-center bg-no-repeat bg-cover rounded-md hover-effect mr-2 md:mr-3" style="background-image:url(img/buildings/3.jpg);"></a>
                    <div class="viewed-item__desc flex w-full flex-col leading-none">
                        <a href="#" class="block w-full truncate font-semibold text-sm lg:text-base text-main hover:opacity-50">Южане</a>
                        <div class="w-full truncate text-second text-xs mt-2">
                            Старокубанская, 2/23
                        </div>
                        <div class="flex mt-auto truncate">
                            <div class="font-medium text-orange text-xs mr-2">
                                2020 г.
                            </div>
                            <div class="text-xs text-main">
                                от 2,1 млн ₽
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>