@import '../../node_modules/magnific-popup/dist/magnific-popup';
@import '../../bower_components/arcticModal/arcticmodal/jquery.arcticmodal';

@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";
@import "jquery-ui-custom/jquery-ui";

$black: #000000;
$white: #FFFFFF;
$main: #1E1F21;
$second: #515356;
$primary: #1C7CD6;
$light: #909497;
$dark: #3B454E;
$orange: #FF9F2F;
$purple: #981CC4;
$green: #18BE6E;
$border: #DEE8EE;
$inputs: #F2F4F7;
$D6DCE0: #D6DCE0;
$F2F4F7: #F2F4F7;

$root-font-size: 16;

@function s($size) {
  @return $size / $root-font-size * 1rem;
}

.slick-slide {
  &:focus {
    outline: none!important;
  }
}
.slick-arrow {
  background: white;
  display: flex!important;
  &:hover {
    background: white;
  }
}

.slick-disabled {
  display: none!important;
}

.carousel-full {
  margin-top: - s(2);
  .slick-list{
    @media (min-width: 768px) {
      padding:0 30% 0 0;
    }
  }

  &__slide, &__plates {
    height: 18rem;
    @media (min-width: 576px) {
      height: s(407);
    }
  }

  &__plates {
    padding-left: s(2);
    padding-right: s(2);
  }

  &__slide {
    padding-top: s(2);
    padding-bottom: s(2);
  }

  .slick-arrow {
    transition: .3s;
    &:hover {
      background: white;
    }
  }
  .slick-prev {
    left: s(15);
    @media (min-width: 768px) {
      left: s(25);
    }
  }
  .slick-next {
    right: s(15);
    @media (min-width: 768px) {
        right: s(25);
    }
  }

  &__plate {
    padding: s(2);
  }

}

.services-slider {
  .slick-list{
    padding:0 10% 0 0;

    @media (min-width: 375px) {
      padding:0 20% 0 0;
    }

    @media (min-width: 576px) {
      padding: 0;
    }
  }

  .slick-prev {
    left: - s(4);
  }

  .slick-next {
    right: - s(4);
  }
}

.developers-slider {

  .slick-list{
    padding:0 20% 0 0;

    @media (min-width: 576px) {
      padding: 0;
    }
  }

  .slick-slide {
    &:focus {
      outline: none;
    }
  }

  .slick-prev {
    left: - s(68);
  }

  .slick-next {
    right: - s(68);
  }
}

//.services-slider, .developers-slider, .statistic-slider {
//
//}

.slick-arrow {
  width: s(48);
  height: s(48);
  border: 1px solid $border;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;

}

.slick-prev::before {
  display: none;
}
.slick-next::before {
  display: none;
}

.statistic-slider {
  .slick-prev {
    left: - s(15);
  }

  .slick-next {
    right: - s(15);
  }
}

.consult-block__slider {
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
}

.building-carousel {
  cursor: grab;
  
  &:active {
    cursor: grabbing;
  }
  
  .slick-arrow {
    border: none;
    background: rgba(0,0,0,.4);
    width: s(35);
    height: s(35);
  }
  .slick-prev {
    left: s(4);
    svg {
      width: s(20);
      height: s(20);
    }
  }
  .slick-next {
    right: s(4);
    svg {
      width: s(20);
      height: s(20);
    }
  }
}

.ui-slider-handle {
  border-radius: 50%;
  border: s(2) solid $primary!important;
  background-color: white!important;
  width: 1rem!important;
  height: 1rem!important;
  top: 50%!important;
  margin-top: -0.5rem!important;
  margin-left: - s(3)!important;


  &:focus {
    outline: none;
  }
}

.ui-slider-horizontal {
  height: s(2);
  background-color: $primary;
}


.ui-widget.ui-widget-content {
  border: none;
}

.ui-tooltip-content {
  font-size: s(14)!important;
  color: $second!important;
}

.ui-tooltip {
  box-shadow: 1px 2px 4px rgba(0,0,0,.16)!important;
}