@import '../../node_modules/tailwindcss/base';
@import '../../node_modules/tailwindcss/components';


@import 'fonts';


$root-font-size: 16;

$black: #000000;
$white: #FFFFFF;
$main: #1E1F21;
$second: #515356;
$primary: #1C7CD6;
$light: #909497;
$dark: #3B454E;
$orange: #FF9F2F;
$purple: #981CC4;
$green: #18BE6E;
$border: #DEE8EE;
$inputs: #F2F4F7;
$D6DCE0: #D6DCE0;
$F2F4F7: #F2F4F7;

@function s($size) {
    @return $size / $root-font-size * 1rem;
}



body {
    font-family: 'Inter',sans-serif;
    color: $main;
    font-size: s(14);
    line-height: 1.5;
    font-weight: 400;
    word-wrap: break-word;
}

.container {
    margin-left: auto;
    margin-right: auto;

    &_buildings {
        padding-right: 0;

        @media (min-width: 1024px) {
            padding-right: 1rem;
        }
    }
}

input, button, select {
    outline: none!important;

    &:hover {
        outline: none!important;
    }

    &:focus {
        outline: none;
    }
}

p {
    margin-bottom: 1rem;
}

a {
    transition: .3s;
}

.logo {
    width: s(124);
}

.bigger-title {
    line-height: 1.33;
    font-weight: bold;
    font-size: s(24);
    letter-spacing: -0.02em;
    
    @media (min-width: 1020px) {
        font-size: s(48);
    }
}

.room-size__custom {
    transition: .3s;
}

.room-size__checkbox:checked {
    & + .room-size__custom {
        background-color: $primary;
        color: white;
        border-color: $primary;
    }
}

.check-button:checked {
    & + .check-button__custom {
        background-color: $inputs;
        border: s(1) solid rgba(0, 0, 0, 0.3);
    }
}

.check-gray:checked {
    & + .check-gray__custom::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 50%;
        background-color: $inputs;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.room-size {
    cursor: pointer;
    &__room-count {
        @media (min-width: 1266px) {
            width: s(50);
            max-width: s(50);
        }
    }
}

.main-screen {
    @media (max-width: 1024px) {
        background-image: none!important;
    }

    @media (min-width: 1024px) {
        height: s(500);
    }
}

.main-nav {
    display: none;
    white-space: nowrap;
    line-height: 1;
    font-size: s(14);

    @media (min-width: 1024px) {
        display: flex;
    }

    li {
        transition: .3s;
        padding-left: s(8);
        padding-right: s(8);

        &:hover {
            opacity: .75;
        }
    }

    .active {
        color: $primary;
        pointer-events: none;
    }

}

.filter-categories {
    display: flex;
    white-space: nowrap;
    position: relative;
    margin-left: - s(8);
    margin-right: - s(8);

    @media (min-width: 1024px) {
        margin-left: - s(12);
        margin-right: - s(12);
    }

    &::after{
        content: '';
        display: block;
        position: absolute;
        height: s(1);
        background-color: $border;
        width: 97.5%;
        bottom: 0;
        left: 1rem;
        z-index: -1;
    }


    li {

        padding-left: s(8);
        padding-right: s(8);
        color: $second;
        transition: .3s;
        font-size: s(12);

        @media (min-width: 1024px) {
            padding-left: s(12);
            padding-right: s(12);
            font-size: s(14);
        }

        a {
            transition: .3s;
        }

        a:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: s(2);
            background-color: transparent;
            bottom: - s(1);
        }

        &:hover {
            opacity: .75;

            a:before {
                background-color: #B9C9D4;
            }
        }

        &.active {
            color: $main;
            pointer-events: none;

            a:before {
                background-color: $primary;
            }
        }
    }

    a {
        display: block;
        padding-top: s(16);
        padding-bottom: s(16);
        position: relative;
    }

}

h1 {
    font-weight: bold;
    font-size: s(24);
    line-height: 1.33;
    letter-spacing: -0.02em;

    @media (min-width: 1024px) {
        font-size: s(32);
        line-height: 1.25;
    }
}

h2 {
    font-weight: bold;
    font-size: s(20);
    line-height: 1.2;
    letter-spacing: -0.02em;

    @media (min-width: 1024px) {
        font-size: s(24);
        line-height: 1.33;
    }
}

h3 {
    font-weight: bold;
    font-size: s(18);
    line-height: 1.33;

    @media (min-width: 1024px) {
        font-size: s(20);
        line-height: 1.33;
    }
}

.building {
    max-width: 18rem;

    @media (min-width: 375px) {
        max-width: s(312);
    }

    @media (min-width: 1024px) {
        max-width: s(326);
    }

    &__developer-name {
        width: s(145);
    }


    &__rooms-content {
        @media (min-width: 1024px) {
            display: flex!important;
        }
    }

    &__rooms-chevron {
        transition: .3s;
        &.open {
            transform: rotateX(180deg);
        }
    }

    &__status {
        &::before {
            content: '';
            display: inline-flex;
            margin-right: s(4);
            border-radius: 50%;
            width: s(8);
            height: s(8);
            background-color: $purple;
        }
    }

}

.mortgage-info {
    padding: 0 s(6);
    border-radius: s(22);
    letter-spacing: -0.03em;

}

.hover-effect {
    transition: .3s;

    &:hover {
        filter: brightness(.7);
    }
}

.developer-item {
    max-width: s(293);

    @media (min-width: 768px) {
        max-width: 100%;
    }

    &__logo {
        background-size: 40% auto;
    }
}

.achievement {
    border-radius: s(6);
    padding-left: s(6);
    padding-right: s(6);
}

.advice {
    &__icon {
        box-shadow: inset 0 0 0 1px white;
    }
}

.rating-list {
    &__inner {
        background-color: #E0F2FF;
        background-position: 6% center;
        background-image: url(../img/backgrounds/expert.png);
        @media (min-width: 1266px) {
            background-position: right center;
        }
    }
}

.service-item {
    &__img {
        width: s(100);
        height: s(100);
        
        @media (min-width: 1024px) {
            width: 100%;
            height: s(220);
        }
    }

    &__left-img {
        width: s(100);
        height: s(100);

        @media (min-width: 1024px) {
            width: s(186);
            height: s(220);
        }
    }
}

.viewed-item {
    max-width: s(260);
    width: s(260);

    @media (min-width: 768px) {
        max-width: 100%;
        width: s(290);
    }
    
    @media (min-width: 1024px) {
        max-width: 100%;
        width: 33.3333%;
    }
    
    &__img {
        width: s(80);
        height: s(53);

        @media (min-width: 1024px) {
            width: s(120);
            height: s(80);
        }
    }

    &__desc {
        overflow: hidden;
        width: s(155);
        @media (min-width: 1266px) {
            width: 14.6rem;
        }
    }
}

.footer-category {
    &__menu {
        @media (min-width: 1024px) {
            display: flex!important;
        }
        
        li {
            padding-top: s(8);
            padding-bottom: s(8);
        }
    }
}

.footer-category {
    &__chevron {
        &.open {
            transform: rotateX(180deg);
        }
    }
}

.footer-category:not(:first-child) {
    @media (max-width: 1024.5px) {
        margin-top: - s(1);
    }
}

.plate-with-background {
    background-repeat: no-repeat;
    background-position: 135% bottom;

    @media (min-width: 375px) {
        background-position: 145% bottom;
    }

    @media (min-width: 576px) {
        background-position: right bottom;
    }

    @media (min-width: 1024px) {
        background-position: 165% bottom;
    }
    @media (min-width: 1266px) {
        background-position: right bottom;
    }
}

.breadcrumb {
    li {
        transition: .3s;
        align-items: center;
        &.active {
            color: $light;
            pointer-events: none;
        }

        &:hover {
            opacity: .75;
        }
    }

    li:not(:first-child) {
        &::before {
            content: '•';
            display: inline-flex;
            margin-left: s(6);
            margin-right: s(6);
            color: $light;
        }
    }
}

.pagination {
    background: #E8EAEE;
    color: black;

    li:first-child, li:last-child {
        width: s(48);
        display: none;
        
        @media (min-width: 576px) {
            display: flex;
        }
    }

    li:nth-child(4) {
        display: none;

        @media (min-width: 576px) {
            display: flex;
        }
    }

    li {
        width: s(32);
        height: s(32);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

        &:hover {
            opacity: .75;
        }

        &.active {
            background-color: #fff;
            border-radius: s(4);
            pointer-events: none;
        }
    }

    a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

}

.company-menu {
    li {
        &.active {
            pointer-events: none;
            color: $primary;
        }
    }
}

.history {
    &__left-circle {
        border: s(2) solid #D0D6DA;
    }

    &__left-line {
        width: s(2);
        background-color: #D0D6DA;
    }

    &__right {
        width: s(562);
    }

    &:last-child {
        .history__left-line {
            display: none;
        }
    ;
    }
}

.vacancy {
    &__ul {
        list-style-type: circle;
    }
    li {
        margin-bottom: 1rem;
    }
}

.clip-file {
    &__text {
        width: s(260);
    }
}

.map-container {
    iframe {
        width: 100%;
    }
}

.write-question {
    height: s(100);
    resize: none;
}

.first {
    background-position: center;
    height: s(120);

    @media (min-width: 768px) {
        height: s(250);
    }

    @media (min-width: 1024px) {
        height: s(500);
    }
    
    &__desc {
        max-width: s(405);
    }
}

.consult-block {
    max-width: s(294);

    &__avatar {
        width: s(98);
        height: s(98);
    }
}

.how-to-send {
    &__block {
        max-width: s(192);
        height: s(80);
    }
}

.check-inline {
    &__icon {
        opacity: 0;
    }

    &:checked{
        & + .check-inline__custom {
            color: $primary;
            .check-inline__icon {
                opacity: 1;
            }
        }

    }
}

.room-item {
    &__img {
        width: s(60);
        height: s(60);
    }

    &__like {
        width: s(28);
        height: s(28);
        transition: .3s;
        cursor: pointer;
        &:hover {
            opacity: .75;
        }
        
    }

    &__img-wrap {
        @media (min-width: 1024px) {
            width: s(92);
        }
    }

    &__type {
        width: s(85);
        @media (min-width: 1024px) {
        }
    }

    &__floor {
        width: s(85);
        @media (min-width: 1024px) {
        }
    }
    &__period {
        @media (min-width: 1024px) {
            width: s(120);
        }
    }
    &__building-name {
        @media (min-width: 1024px) {
            width: s(220);
        }
    }
    &__price {
        @media (min-width: 1024px) {
            width: s(125);
        }
    }
    &__icons {
        @media (min-width: 1024px) {
            width: s(215);
        }
    }
}

.question {
    &__content {
        max-width: s(835);
    }

    &__chevron {
        &.open {
            transform: rotateZ(45deg);
        }
    }
}

.program {
    &__text {
        max-width: s(470);
    }

    &__img-wrap {
        width: s(36);
        height: s(36);
        @media (min-width: 572px) {
            width: s(72);
            height: s(72);
        }
    }
}

.h {
    &-56px {
        height: s(56);
    }
}