@import '../../node_modules/tailwindcss/base';
@import '../../node_modules/tailwindcss/components';


@import 'fonts';



$root-font-size: 16;

$black: #000000;
$white: #FFFFFF;
$main: #1E1F21;
$second: #515356;
$primary: #1C7CD6;
$light: #909497;
$dark: #3B454E;
$orange: #FF9F2F;
$purple: #981CC4;
$green: #18BE6E;
$border: #DEE8EE;
$inputs: #F2F4F7;
$D6DCE0: #D6DCE0;
$F2F4F7: #F2F4F7;
$icon: #D0D6DA;

$light-bg: #F8F9FB;

@function s($size) {
    @return $size / $root-font-size * 1rem;
}



body {
    font-family: 'Inter',sans-serif;
    color: $main;
    font-size: s(14);
    line-height: 1.5;
    font-weight: 400;
    word-wrap: break-word;
    padding-top: s(42);
    position: relative;
    @media (min-width: 1024px) {
        padding-top: s(53);
    }
}

.container {
    margin-left: auto;
    margin-right: auto;

    &_buildings {
        padding-right: 0;

        @media (min-width: 1024px) {
            padding-right: 1rem;
        }
    }
}

input, button, select {
    outline: none!important;
    cursor: pointer;

    &:hover {
        outline: none!important;
    }

    &:focus {
        outline: none;
    }
}

label {
    cursor: pointer;
}

p {
    margin-bottom: 1rem;
}

a {
    transition: .3s;
}

.logo {
    width: s(124);
}

.header {
    z-index: 999;
}

.bigger-title {
    line-height: 1.33;
    font-weight: bold;
    font-size: s(24);
    letter-spacing: -0.02em;
    
    @media (min-width: 1020px) {
        font-size: s(48);
    }
}

.room-size__custom {
    transition: .3s;
}

.room-size__checkbox:checked {
    & + .room-size__custom {
        background-color: $primary;
        color: white;
        border-color: $primary;
    }
}

.check-button:checked {
    & + .check-button__custom {
        background-color: $inputs;
        border: s(1) solid rgba(0, 0, 0, 0.3);
    }
}

.check-gray:checked {
    & + .check-gray__custom::before {
        content: '';
        position: absolute;
        width: s(8);
        height: s(8);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../img/elements/check.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}


.room-size {
    cursor: pointer;
    &__room-count {
        @media (min-width: 1266px) {
            width: s(50);
            max-width: s(50);
        }
    }
}

.main-screen {
    @media (max-width: 1024px) {
        background-image: none!important;
    }

    @media (min-width: 1266px) {
        height: s(500);
    }
}

.main-nav {
    display: none;
    white-space: nowrap;
    line-height: 1;
    font-size: s(14);

    @media (min-width: 1024px) {
        display: flex;
    }

    li {
        transition: .3s;
        padding-left: s(8);
        padding-right: s(8);

        &:hover {
            opacity: .75;
        }
    }

    .active {
        color: $primary;
        pointer-events: none;
    }

}

.filter-categories {
    display: flex;
    white-space: nowrap;
    position: relative;

    @media (min-width: 1024px) {
        margin-left: - s(12);
        margin-right: - s(12);
    }

    //&::after{
    //    content: '';
    //    display: block;
    //    position: absolute;
    //    height: s(1);
    //    background-color: $border;
    //    width: 97.5%;
    //    bottom: 0;
    //    left: 1rem;
    //    z-index: -1;
    //}


    li {

        padding-left: s(8);
        padding-right: s(8);
        color: $second;
        transition: .3s;
        font-size: s(12);

        @media (min-width: 1024px) {
            padding-left: s(12);
            padding-right: s(12);
            font-size: s(14);
        }

        a {
            transition: .3s;
        }

        a:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: s(2);
            background-color: transparent;
            bottom: - s(1);
        }

        &:hover {
            opacity: .75;

            a:before {
                background-color: #B9C9D4;
            }
        }

        &.active {
            color: $main;
            pointer-events: none;

            a:before {
                background-color: $primary;
            }
        }
    }

    a {
        display: block;
        padding-top: s(16);
        padding-bottom: s(16);
        position: relative;
    }

}

h1 {
    font-weight: bold;
    font-size: s(24);
    line-height: 1.33;
    letter-spacing: -0.02em;

    @media (min-width: 1024px) {
        font-size: s(32);
        line-height: 1.25;
    }
}

h2 {
    font-weight: bold;
    font-size: s(20);
    line-height: 1.2;
    letter-spacing: -0.02em;

    @media (min-width: 1024px) {
        font-size: s(24);
        line-height: 1.33;
    }
}

h3 {
    font-weight: bold;
    font-size: s(18);
    line-height: 1.33;

    @media (min-width: 1024px) {
        font-size: s(20);
        line-height: 1.33;
    }
}

.building {
    width: s(288);
    flex-shrink: 0;

    @media (min-width: 375px) {
        width: s(312);
    }

    @media (min-width: 1024px) {
        width: 33.3333%;
    }

    @media (min-width: 1266px) {
        width: 25%;
    }

    &_percent-width {
        width: 100%;

        @media (min-width: 572px) {
            width: 50%;
        }
        @media (min-width: 1024px) {
            width: 33.33333%;
        }
        @media (min-width: 1266px) {
            width: 25%;
        }
    }

    &_3-col {
        width: 100%;

        @media (min-width: 572px) {
            width: 50%;
        }
        @media (min-width: 1024px) {
            width: 33.33333%;
        }
    }

    &__img-wrap {
        max-height: s(195);
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &_fix-width {
        min-width: s(288);
        max-width: s(288);
    }

    &__developer-name {
        width: s(145);
    }


    &__rooms-content {
        @media (min-width: 1024px) {
            display: flex!important;
        }
    }

    &__rooms-chevron {
        transition: .3s;
        &.open {
            transform: rotateX(180deg);
        }
    }

    &__best-seller-icon {
        left: s(12);
        top: s(12)
    }

    &__favorite-icon {
        right: s(12);
        top: s(12);
        color: $icon;
        cursor: pointer;
        &.active {
            color: red;
            svg {
                animation-name: heartBeat;
                animation-duration: .5s;
                animation-fill-mode: both;
            }
        }
    }

    &__achievements {
        left: s(12);
        bottom: 1.5rem;
    }
}

.mortgage-info {
    padding: 0 s(6);
    border-radius: s(22);
    letter-spacing: -0.03em;

}

.hover-effect {
    transition: .3s;

    &:hover {
        filter: brightness(.7);
    }
}

.developer {
    &__properties {
        margin-top: - s(4);
    }
}

.developer-item {
    max-width: s(293);

    @media (min-width: 768px) {
        max-width: 100%;
    }

    &__logo {
        background-size: 40% auto;
    }
}


.building-status {
    &::before {
        content: '';
        display: inline-flex;
        align-self: center;
        margin-right: s(4);
        border-radius: 50%;
        width: s(8);
        height: s(8);
        background-color: $purple;
    }

    &_green {
        &::before {
            background-color: $green;
        }
    }
    &_orange {
        &::before {
            background-color: $orange;
        }
    }
}


.achievement {
    border-radius: s(6);
    padding-left: s(6);
    padding-right: s(6);
}

.advice {
    &__icon {
        box-shadow: inset 0 0 0 1px white;
    }
}

.rating-list {
    &__inner {
        background-color: #E0F2FF;
        background-position: 6% center;
        background-image: url(../img/backgrounds/expert.png);
        @media (min-width: 1266px) {
            background-position: right center;
        }
    }
}

.service-item {
    &__img {
        width: s(100);
        height: s(100);
        
        @media (min-width: 1024px) {
            width: 100%;
            height: s(220);
        }
    }

    &__name {
        margin-top: - s(3);
    }

    &__left-img {
        width: s(100);
        height: s(100);

        @media (min-width: 1024px) {
            width: s(186);
            height: s(220);
        }
    }
}

.viewed-item {
    max-width: s(260);
    width: s(260);

    @media (min-width: 768px) {
        max-width: 100%;
        width: s(290);
    }
    
    @media (min-width: 1024px) {
        max-width: 100%;
        width: 33.3333%;
    }
    
    &__img {
        width: s(80);
        height: s(53);

        @media (min-width: 1024px) {
            width: s(120);
            height: s(80);
        }
    }

    &__desc {
        overflow: hidden;
        width: s(155);
        @media (min-width: 1266px) {
            width: 14.6rem;
        }
    }
}

.footer-category {
    &__menu {
        @media (min-width: 1024px) {
            display: flex!important;
        }
        
        li {
            padding-top: s(8);
            padding-bottom: s(8);
        }

        a {
            transition: .3s;
            &:hover {
                opacity: .5;
            }
        }
    }
}

.footer-category {
    &__chevron {
        &.open {
            transform: rotateX(180deg);
        }
    }
}

.footer-category:not(:first-child) {
    @media (max-width: 1024.5px) {
        margin-top: - s(1);
    }
}

.plate-with-background {
    background-repeat: no-repeat;
    background-position: 135% bottom;

    @media (min-width: 375px) {
        background-position: 145% bottom;
    }

    @media (min-width: 576px) {
        background-position: right bottom;
    }

    @media (min-width: 1024px) {
        background-position: 165% bottom;
    }
    @media (min-width: 1266px) {
        background-position: right bottom;
    }
}

.breadcrumb {
    li {
        transition: .3s;
        align-items: center;
        &.active {
            color: $light;
            pointer-events: none;
        }

        &:hover {
            opacity: .75;
        }
    }

    li:not(:first-child) {
        &::before {
            content: '•';
            display: inline-flex;
            margin-left: s(6);
            margin-right: s(6);
            color: $light;
        }
    }
}

.pagination {
    background: #E8EAEE;
    color: black;

    li:first-child, li:last-child {
        width: s(48);
        display: none;
        
        @media (min-width: 576px) {
            display: flex;
        }
    }

    li:nth-child(4) {
        display: none;

        @media (min-width: 576px) {
            display: flex;
        }
    }

    li {
        width: s(32);
        height: s(32);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

        &:hover {
            opacity: .75;
        }

        &.active {
            background-color: #fff;
            border-radius: s(4);
            pointer-events: none;
        }
    }

    a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

}

.company-menu {
    margin-top: s(14);

    li {
        &.active {
            pointer-events: none;
            color: $primary;
        }
    }
}

.history {
    &__left-circle {
        border: s(2) solid #D0D6DA;
    }

    &__left-line {
        width: s(2);
        background-color: #D0D6DA;
    }

    &__right {
        width: s(562);
    }

    &:last-child {
        .history__left-line {
            display: none;
        }
    ;
    }
}

.vacancy {
    &__ul {
        list-style-type: circle;
    }
    li {
        margin-bottom: 1rem;
    }
}

.clip-file {
    &__text {
        width: s(260);
    }
}

.map-container {
    &__iframe-wrap {
        height: s(300);
        @media (min-width: 768px) {
            height: s(400);
        }
    }
    iframe {
        width: 100%;
        height: 100%;
    }
}

.write-question {
    height: s(100);
    resize: none;
}

.first {
    background-position: center;
    height: s(120);

    @media (min-width: 768px) {
        height: s(250);
    }

    @media (min-width: 1024px) {
        height: s(500);
    }
    
    &__desc {
        max-width: s(405);
    }

    &_fordevelopers {

        @media (min-width: 768px) {
            height: auto;
        }
    }

}

.consult-block {
    z-index: 91;
    transition: .6s;
    max-width: s(294);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-delay: .3s;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;

    @media (min-width: 1267.9px) {
        transform: translate(0, 0);
        display: block!important;
        animation: none;
    }

    &__close {
        right: 0;
        top: -2rem;
        cursor: pointer;
        transition: .3s;
        &:hover {
            opacity: .5;
        }
    }

    &__avatar {
        width: s(98);
        height: s(98);
    }
}

.how-to-send {
    &__block {
        max-width: s(192);
        height: s(80);
    }
}

.check-inline {
    &__icon {
        opacity: 0;
        width: s(12);
    }

    &:checked{
        & + .check-inline__custom {
            color: $primary;
            .check-inline__icon {
                opacity: 1;
            }
        }

    }
}

.room-item {
    &__img {
        width: s(60);
        height: s(60);
    }

    &__like {
        width: s(28);
        height: s(28);
        transition: .3s;
        cursor: pointer;
        &:hover {
            opacity: .75;
        }
        
    }

    &__img-wrap {
        flex-shrink: 0;
        @media (min-width: 1024px) {
            width: s(70);
        }
    }

    &__type {
        @media (min-width: 1024px) {
            width: s(85);
        }
    }

    &__floor {
        @media (min-width: 1024px) {
            width: 4rem;
        }
    }
    &__period {
        @media (min-width: 1024px) {
            width: 5.7rem;
        }
    }
    &__building-name {
        @media (min-width: 1024px) {
            width: s(200);
        }
    }
    &__price {
        @media (min-width: 1024px) {
            width: s(110);
        }
    }
    &__icons {
        @media (min-width: 1024px) {
            width: s(185);
        }
    }
}

.question {
    &__content {
        max-width: s(835);
    }

    &__chevron {
        &.open {
            transform: rotateZ(45deg);
        }
    }
}

.program {
    &__text {
        max-width: s(470);
    }

    &__img-wrap {
        width: s(36);
        height: s(36);
        @media (min-width: 572px) {
            width: s(72);
            height: s(72);
        }
    }
}

.h {
    &-56px {
        height: s(56);
    }
}

.program-property {
    li {
        margin-bottom: 1rem;
    }
}

.view-variant {
    cursor: pointer;
    transition: .3s;
    &:hover {
        opacity: .5;
    }
    &.active {
        color: $light;
        pointer-events: none;
    }
}

.form-control {
    position: relative;
    &__unit {
        right: s(11);
        top: 50%;
        transform: translateY(-50%);
    }
}

.rounded-price, .rounded-mortgage {
    border-radius: s(32);
}

.rounded-mortgage {
    background-color: #EFFAF5;
}

.room-plan-img {
    max-width: s(600);

    &__desc {
        left: s(24);
        bottom: s(24)
    }
}

.map-points {
    width: s(200);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    right: s(16);
    top: s(48);

    &__chevron {
        transition: .3s;
        &.open {
            transform: rotateX(180deg);
        }
    }
}

.developer-logo-w-120 {
    width: s(120)
}

.specification {
    margin-bottom: s(8);
    &__left {
        width: 50%;
        @media (min-width: 768px) {
            width: s(218);
        }
    }
    &__right {
        width: 50%;
        @media (min-width: 768px) {
            width: s(336);
        }
    }
}

.etaps {
    &__item-inner {
        height: s(140);
    }
}

.man-form {
    &__left {
        max-width: 30rem;
        @media (min-width: 768px) {
            width: 30rem;
            flex-shrink: 0;
        }
    }
}

.developer-public {
    @media (min-width: 768px) {
        max-width: 50%;
    }
    @media (min-width: 1266px) {
        max-width: s(426);
    }
}

.lk-form-block {
    max-width: s(482);
}

.blue-tabs {
    &__tab {
        cursor: pointer;
        transition: .3s;
        border-bottom: s(2) solid transparent;
        &.active {
            border-bottom: s(2) solid $primary;
            pointer-events: none;
        }
    }
}

.mkr-item {
    &__achievements {
        left: s(12);
        bottom: s(12);
    }
}

.carousel-wrap {
    &__more-photo {
        bottom: 1rem;
        left: 0.5rem;

        @media (min-width: 572px) {
            bottom: 1.5rem;
            left: 1.5rem;
        }
    }

    &__achievements {
        top: 0.5rem;
        left: 0.5rem;

        @media (min-width: 572px) {
            top: 1.5rem;
            left: 1.5rem;
        }
    }
}

.video-item {
    iframe {
        max-width: 100%;
    }
}

.mobile-menu {
    top: 0;
    left: 0;
    z-index: 9999;
}

.mobile-menu {
    &__close {
        top: 1rem;
        right: 0
    }
}

.chess {
    &__area {
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
    }

    &__room {
        color: white;

        &_green {
            .chess__room-entry {
                background-color: $green;
            }
            .chess__room-number {
                color: $green;
            }
        }
        &_orange {
            .chess__room-entry {
                background-color: $orange;
            }
            .chess__room-number {
                color: $orange;
            }
        }
    }

    &__props {
        width: s(75);
    }

    &__room-price {
        font-weight: bold;
        line-height: 1;
        font-size: s(11);
    }

    &__room-area {
        line-height: 1;
        font-size: s(11);
        margin-top: s(4);
    }

    &__room-number {
        display: flex;
        flex-shrink: 0;
        background: white;
        align-items: center;
        justify-content: center;
        width: s(16);
        height: s(16);
        border-radius: 50%;
        font-size: s(11);
        font-weight: 600;
    }

    &__room-entry {
        min-width: s(110);
        height: s(40);
        border: s(1) solid $border;
        border-radius: s(4);
        justify-content: space-between;
        align-items: flex-start;
        background-color: $light-bg;
        padding: s(6) s(8);
    }
}

.map-view-container {
    @media (min-width: 1024px) {
        max-width: 100%;
    }
}

.pan1 {
    width: 100%;
    //min-width: 200px;

    @media (min-width: 1024px) {
        width: 50%;
    }
}

.pan2 {
    width: 100%;
    background-color: transparent;
    flex-grow: 1;

    @media (min-width: 1024px) {
        width: 50%;
    }
}

#resize {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0;
    width: s(5);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: e-resize;
}

.map-block {

    &_fixed {
        position: fixed;
        top: 0;
        right: 0;
    }

    &__iframe-wrap {
        width: 100%;
        height: s(400);

        @media (min-width: 1024px) {
            height: 100%;
        }
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    @media (min-width: 1024px) {
        height: 100vh;
    }

}

.resize-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.box-modal {
    border-radius: s(8);

    &_close {
        right: s(16);
        top: s(16);
    }

    max-width: s(290);

    @media (min-width: 375px) {
        max-width: s(345);
    }

    @media (min-width: 576px) {
        max-width: s(546);
    }

    @media (min-width: 768px) {
        max-width: s(617);
    }
}

.review-item {
    &__like, &__dislike {
        &.active {
            color: $primary;
            svg {
                animation-name: heartBeat;
                animation-duration: .5s;
                animation-fill-mode: both;
            }
        }
    }
}

.consult-call {
    width: s(128);
    height: s(128);
    right: 0;
    bottom: 0;
    transform: translate(40%, 40%);
    z-index: 90;

    &.active {
        .consult-call__white-round {
            animation-name: consultEffect;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
        }
    }

    &__white-round {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__manager {
        left: 0;
        top: 0;
        width: s(64);
        height: s(64);
        border: s(2) solid white;
    }
    &__phone-icon-wrap {
        width: s(64);
        height: s(64);
    }
}

@keyframes consultEffect {
    from {
        width: 0;
        height: 0;
    }
    to {
        width: s(3000);
        height: s(3000);
    }
}

.visual-hide-md {
    @media (max-width: 1267.9px) {
        opacity: 0;
        z-index: -1!important;
    }
}

.add-favorite {
    &__icon-wrap {
        color: #d0d6da;
    }
    &.active {
        .add-favorite__icon-wrap {
            color: red;
            svg {
                animation-name: heartBeat;
                animation-duration: .5s;
                animation-fill-mode: both;
            }
        }
    }
}